@use '../breakpoint.scss';
@use '../variables.scss';

.container {
  margin-inline: auto;
  padding-inline: variables.space(4);
  width: min(100%, 96rem);

  @include breakpoint.wider_than(md) {
    padding-inline: variables.space(6);
  }

  @include breakpoint.wider_than(xl) {
    padding-inline: variables.space(12);
  }
}
