@import '../breakpoint.scss';
@import '../variables.scss';

.container {
  margin-inline: auto;
  padding-inline: space(4);
  width: min(100%, 96rem);

  @include wider_than(md) {
    padding-inline: space(6);
  }

  @include wider_than(xl) {
    padding-inline: space(12);
  }
}
