@use 'sass:map';
@use '../breakpoint.scss';
@use '../variables.scss';
@use '../maps.scss';

.grid {
  display: grid;
  gap: variables.space(6);
}

.grid.gap-0 {
  gap: 0;
}

@for $i from 1 through 12 {
  .cols-#{$i} {
    grid-template-columns: repeat($i, 1fr);
  }

  .col-#{$i} {
    grid-column: span $i;
  }
}

@for $i from 1 through 13 {
  .col-start-#{$i} {
    grid-column-start: $i;
  }

  .col-end-#{$i} {
    grid-column-end: $i;
  }
}

@each $breakpoint in map.keys(breakpoint.$breakpoints) {
  @include breakpoint.wider_than($breakpoint) {
    .#{$breakpoint}\:grid {
      display: grid;
      gap: variables.space(6);
    }
  }
}

@each $breakpoint in map.keys(breakpoint.$breakpoints) {
  @for $i from 1 through 12 {
    @include breakpoint.wider_than($breakpoint) {
      .#{$breakpoint}\:cols-#{$i} {
        grid-template-columns: repeat($i, 1fr);
      }
    }

    @include breakpoint.wider_than($breakpoint) {
      .#{$breakpoint}\:col-#{$i} {
        grid-column: span $i;
      }
    }
  }

  @for $i from 1 through 13 {
    @include breakpoint.wider_than($breakpoint) {
      .#{$breakpoint}\:col-start-#{$i} {
        grid-column-start: $i;
      }
    }

    @include breakpoint.wider_than($breakpoint) {
      .#{$breakpoint}\:col-end-#{$i} {
        grid-column-end: $i;
      }
    }
  }
}
