@use 'sass:map';
@use '../breakpoint.scss';
@use '../variables.scss';
@use '../maps.scss';

@for $i from 1 through 24 {
  .space-y-#{$i}>*+* {
    margin-block-start: variables.space($i);
  }
}

@for $i from 1 through 24 {
  .p-#{$i} {
    padding: variables.space($i);
  }

  .px-#{$i} {
    padding-inline: variables.space($i);
  }

  .py-#{$i} {
    padding-block: variables.space($i);
  }

  .pt-#{$i} {
    padding-block-start: space($i);
  }

  .pb-#{$i} {
    padding-block-end: space($i);
  }
}

@each $breakpoint in map.keys(breakpoint.$breakpoints) {
  @include breakpoint.wider_than($breakpoint) {
    .#{$breakpoint}\:space-y-0>*+* {
      margin-block-start: 0;
    }
  }

  @for $i from 1 through 24 {
    @include breakpoint.wider_than($breakpoint) {
      .#{$breakpoint}\:space-y-#{$i}>*+* {
        margin-block-start: variables.space($i);
      }
    }

    @include breakpoint.wider_than($breakpoint) {
      .#{$breakpoint}\:p-#{$i} {
        padding: variables.space($i);
      }
    }

    @include breakpoint.wider_than($breakpoint) {
      .#{$breakpoint}\:px-#{$i} {
        padding-inline: variables.space($i);
      }
    }

    @include breakpoint.wider_than($breakpoint) {
      .#{$breakpoint}\:py-#{$i} {
        padding-block: variables.space($i);
      }
    }
  }
}
