---
import Schedule from "./Schedule.astro";
import ScheduleDay from "./ScheduleDay.astro";
import ScheduleSection from "./ScheduleSection.astro";
import ScheduleItem from "./ScheduleItem.astro";
import OrganizeOwnActivity from "./OrganizeOwnActivity.astro";
import BottomNote from "./BottomNote.astro";
---

<Schedule logo>
    <ScheduleDay>
        <ScheduleSection>
            <span slot="location">Kinepolis Jaarbeurs, Utrecht,&nbsp;NL</span>
            <ScheduleItem>
                <span slot="header">Pre-registration</span>
                <span slot="attendees">optional</span>
                <span slot="time">11:00–14:00</span>
                <Fragment slot="activities">
                    <p>In town already?<br/>Get your badge early!</p>
                    <BottomNote>
                        <a href="/events/pre-registration">Details</a>
                    </BottomNote>
                </Fragment>
            </ScheduleItem>
        </ScheduleSection>
        <ScheduleSection>
            <span slot="location">Utrecht,&nbsp;NL</span>
            <ScheduleItem>
                <span slot="header">Social activities</span>
                <span slot="attendees">in small groups</span>
                <span slot="time">12:00–22:00</span>
                <Fragment slot="activities">
                    <!-- <p>City tour, Ferris sticker hunt, Bouldering, Bowling, Laser tag, Museum visit, …</p> -->
                    <OrganizeOwnActivity />
                </Fragment>
            </ScheduleItem>
        </ScheduleSection>
    </ScheduleDay>
    <ScheduleDay>
        <ScheduleSection>
            <span slot="location">Kinepolis Jaarbeurs, Utrecht,&nbsp;NL</span>

            <ScheduleItem>
                <span slot="header">Conference day 1</span>
                <span slot="attendees">800 attendees</span>
                <span slot="time">08:30–19:00</span>
                <Fragment slot="activities">
                    <p style="width: 80%;margin-left: auto;margin-right: auto;">3 tracks: Main, Ecosystem & Industry</p>
                    <BottomNote>
                        <a href="/schedule/tuesday">Talk schedule</a></p>
                    </BottomNote>
                </Fragment>
            </ScheduleItem>
        </ScheduleSection>
        <ScheduleSection>
            <span slot="location">Utrecht,&nbsp;NL</span>
            <ScheduleItem>
                <span slot="header">Social activities</span>
                <span slot="attendees">in small groups</span>
                <span slot="time">18:00–22:00</span>
                <Fragment slot="activities">
                    <OrganizeOwnActivity />
                </Fragment>
            </ScheduleItem>
        </ScheduleSection>
    </ScheduleDay>
    <ScheduleDay>
        <ScheduleSection>
            <span slot="location">Kinepolis Jaarbeurs, Utrecht,&nbsp;NL</span>

            <ScheduleItem>
                <span slot="header">Conference day 2</span>
                <span slot="attendees">800 attendees</span>
                <span slot="time">08:30–19:00</span>
                <Fragment slot="activities">
                    <p style="width: 75%;margin-left: auto;margin-right: auto;">3 tracks: Main, Deep Dive & Rust Project</p>
                    <BottomNote>
                        <a href="/schedule/wednesday">Talk schedule</a>
                    </BottomNote>
                </Fragment>
            </ScheduleItem>
        </ScheduleSection>
        <ScheduleSection>
            <span slot="location">Utrecht,&nbsp;NL</span>
            <ScheduleItem>
                <span slot="header">Social activities</span>
                <span slot="attendees">in small groups</span>
                <span slot="time">18:00–22:00</span>
                <Fragment slot="activities">
                    <OrganizeOwnActivity />
                </Fragment>
            </ScheduleItem>
        </ScheduleSection>
    </ScheduleDay>

    <ScheduleDay>
        <ScheduleSection>
            <span slot="location">DUS, Sophialaan&nbsp;1, Utrecht,&nbsp;NL</span>

            <ScheduleItem>
                <span slot="header">Workshops</span>
                <span slot="attendees">100 attendees</span>
                <span slot="time">09:00–13:00</span>
                <Fragment slot="activities">
                    <p>7 workshops in total</p>
                    <p><a href="/events/workshops">See details</a></p>
                </Fragment>
            </ScheduleItem>
        </ScheduleSection>
        <ScheduleSection>
            <span slot="location">DUS, Sophialaan&nbsp;1, Utrecht,&nbsp;NL</span>

            <ScheduleItem align_end>
                <span slot="header">10 Years of Rust Celebration</span>
                <span slot="attendees">400 attendees</span>
                <span slot="time">16:00–20:00</span>
                <Fragment slot="activities">
                    <p>Live release of Rust&nbsp;1.87!</p>
                    <p><a href="/celebration">Details & tickets</a></p>
                </Fragment>
            </ScheduleItem>
        </ScheduleSection>
    </ScheduleDay>

    <ScheduleDay>
        <ScheduleSection>
            <span slot="location">Princetonlaan 6, Utrecht, NL</span>

            <ScheduleItem>
                <span slot="header">Hackathon</span>
                <span slot="attendees">200 attendees</span>
                <span slot="time">09:00–18:00</span>
                <Fragment slot="activities">
                    <p>Collaborative coding</p>
                    <BottomNote>
                        <a href="/events/hackathon">See details</a>
                    </BottomNote>
                </Fragment>
            </ScheduleItem>
        </ScheduleSection>
        <ScheduleSection>
            <span slot="location">DUS, Sophialaan&nbsp;1, Utrecht,&nbsp;NL</span>

            <ScheduleItem>
                <span slot="header">Rust All-Hands & Unconference</span>
                <span slot="attendees">250 attendees</span>
                <span slot="time">09:00–18:00</span>
                <Fragment slot="activities">
                    <p>&nbsp;</p>
                    <BottomNote>Invitation only</BottomNote>
                </Fragment>
            </ScheduleItem>
        </ScheduleSection>
    </ScheduleDay>

    <ScheduleDay>
        <ScheduleSection>
            <span slot="location">Utrecht,&nbsp;NL</span>

            <ScheduleItem>
                <span slot="header">Social activities</span>
                <span slot="attendees">in small groups</span>
                <span slot="time">10:00–22:00</span>
                <Fragment slot="activities">
                    <p>&nbsp;</p>
                    <OrganizeOwnActivity />
                </Fragment>
            </ScheduleItem>
        </ScheduleSection>
        <ScheduleSection>
            <span slot="location">DUS, Sophialaan&nbsp;1, Utrecht,&nbsp;NL</span>

            <ScheduleItem>
                <span slot="header">Rust All-Hands & Unconference</span>
                <span slot="attendees">250 attendees</span>
                <span slot="time">09:00–18:00</span>
                <Fragment slot="activities">
                    <p>&nbsp;</p>
                    <BottomNote>Invitation only</BottomNote>
                </Fragment>
            </ScheduleItem>
        </ScheduleSection>
    </ScheduleDay>

    <div slot="extra">
        <a href="https://discord.gg/9ezhugbhAM">Join our discord to discuss social activities and find others before the event</a>
    </div>
</Schedule>

<style>
.align-end {
    margin-top: auto !important;
}
</style>
