---
import BottomNote from "./BottomNote.astro";
---

<BottomNote>
    <a href="https://forms.gle/fKocgjB4x4TejQYV9">Organize your own activity!</a>
</BottomNote>

<style lang="scss">
    a {
        color: unset;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
</style>
