---

---

<p>
    <a href="https://forms.gle/fKocgjB4x4TejQYV9">Organize your own activity!</a
    >
</p>

<style lang="scss">
    @import "../../styles/variables.scss";
    @import "../../styles/breakpoint.scss";

    a {
        color: unset;
        text-decoration: none;

        &:hover {
            text-decoration: underpne;
        }
    }

    p {
        margin-top: auto !important;
    }
</style>
