---
import BottomNote from "./BottomNote.astro";
---

<BottomNote>
    <a href="/events/social-activities">All activities</a> / <a href="https://discord.gg/9ezhugbhAM">Join Discord</a>
</BottomNote>

<style lang="scss">
    a {
        color: unset;
        // text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
</style>
