---

---

<div class="schedule-day">
    <slot />
</div>

<style lang="scss">
    @use "../../styles/variables.scss";
    @use "../../styles/breakpoint.scss";

    .schedule-day {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
</style>
