---
import Schedule from "./Schedule.astro";
import ScheduleDay from "./ScheduleDay.astro";
import ScheduleSection from "./ScheduleSection.astro";
import ScheduleItem from "./ScheduleItem.astro";
import BottomNote from "./BottomNote.astro";
---

<Schedule>
    <ScheduleDay>
        <ScheduleSection>
            <span slot="location">Kinepolis Jaarbeurs, Utrecht,&nbsp;NL</span>
            <ScheduleItem>
                <span slot="header">Pre-registration</span>
                <span slot="time">11:00–14:00</span>
                <Fragment slot="activities">
                    <p>In town already?<br/>Get your badge early!</p>
                </Fragment>
            </ScheduleItem>
        </ScheduleSection>
        <ScheduleSection>
            <span slot="location">Utrecht,&nbsp;NL</span>

            <ScheduleItem>
                <span slot="header">Social activities</span>
                <span slot="attendees">&nbsp;</span>
                <span slot="time">12:00–22:00</span>
                <Fragment slot="activities">
                    <p>Explore Utrecht, hang out with other Rustaceans.</p>
                    <br />
                    <BottomNote>See <a href="/overview">Overview of the week</a></BottomNote>
                </Fragment>
            </ScheduleItem>
        </ScheduleSection>
    </ScheduleDay>
    <ScheduleDay>
        <ScheduleSection>
            <span slot="location">Kinepolis Jaarbeurs, Utrecht,&nbsp;NL</span>

            <ScheduleItem>
                <span slot="header">Conference day 1</span>
                <span slot="attendees">800 attendees</span>
                <span slot="time">08:30–19:00</span>
                <Fragment slot="activities">
                    <p>3 tracks incl:<br /><em>Ecosystem track</em></p>
                    <br />
                    <BottomNote>See <a href="/schedule/tuesday/">schedule day 1</a></BottomNote>
                </Fragment>
            </ScheduleItem>
        </ScheduleSection>
    </ScheduleDay>
    <ScheduleDay>
        <ScheduleSection>
            <span slot="location">Kinepolis Jaarbeurs, Utrecht,&nbsp;NL</span>

            <ScheduleItem>
                <span slot="header">Conference day 2</span>
                <span slot="attendees">800 attendees</span>
                <span slot="time">08:30–19:00</span>
                <Fragment slot="activities">
                    <p>3 tracks incl:<br /><em>Rust Project track</em></p>
                    <br />
                    <BottomNote>See <a href="/schedule/wednesday/">schedule day 2</a></BottomNote>
                </Fragment>
            </ScheduleItem>
        </ScheduleSection>
    </ScheduleDay>

    <ScheduleDay>
        <ScheduleSection>
            <span slot="location">DUS, Sophialaan&nbsp;1, Utrecht,&nbsp;NL</span>

            <ScheduleItem align_end>
                <span slot="header">10 Years of Rust</span>
                <span slot="attendees">400 attendees</span>
                <span slot="time">16:00–20:00</span>
                <Fragment slot="activities">
                    <p>Live release of Rust&nbsp;1.87!</p>
                </Fragment>
            </ScheduleItem>
        </ScheduleSection>
    </ScheduleDay>

    <ScheduleDay>
        <ScheduleSection>
            <span slot="location">DUS, Sophialaan&nbsp;1, Utrecht,&nbsp;NL</span>

            <ScheduleItem>
                <span slot="header">Unconf</span>
                <span slot="attendees">100 attendees</span>
                <span slot="time">09:00–18:00</span>
                <Fragment slot="activities">
                    <p>Dedicated rooms per group</p>
                </Fragment>
            </ScheduleItem>
        </ScheduleSection>
    </ScheduleDay>

    <ScheduleDay>
        <ScheduleSection>
            <span slot="location">DUS, Sophialaan&nbsp;1, Utrecht,&nbsp;NL</span>

            <ScheduleItem>
                <span slot="header">Unconf</span>
                <span slot="attendees">100 attendees</span>
                <span slot="time">09:00–18:00</span>
                <Fragment slot="activities">
                    <p>Dedicated rooms per group</p>
                </Fragment>
            </ScheduleItem>
        </ScheduleSection>
    </ScheduleDay>

</Schedule>

<style>
.align-end {
    margin-top: auto !important;
}
em {
    font-style: italic;
}
</style>
