@import "../variables.scss";

:root {
  --hero-color: white;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: $color-background;
  color: $color-black;
  font-family: $font-family;
  font-size: $font-size-md;
  font-weight: 300;
  line-height: $line-height-normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  font-weight: 700;
}

h1 {
  text-decoration: underline $color-red-400 0.1em;
}


.anchor {
  scroll-margin-top: space(24);
}

ul {
  padding-left: 40px;
}

li {
  list-style: disc;
  padding-bottom: 0.2em;
}

blockquote {
  border-left: solid 4px $color-red-500;
  padding-left: 1em;
}

blockquote>p {
  margin-block-start: space(6);
}

h1 {
  font-size: $font-size-2xl;
  text-align: center;
}

h2 {
  // font-size: $font-size-2xl;
  text-align: center;
}
