@use "../variables.scss";
@use "../breakpoint.scss";

:root {
    --hero-color: white;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: variables.$color-background;
    color: variables.$color-black;
    font-family: variables.$font-family;
    font-size: 1.0625rem;

    font-weight: 300;
    line-height: variables.$line-height-normal;

    @include breakpoint.wider_than(sm) {
        font-size: variables.$font-size-md;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
    font-weight: 700;
}

h1,
h2 {
    // note: writing this as text-decoration shorthand does not work on safari
    text-decoration-line: underline;
    text-decoration-color: variables.$color-red-400;
    text-decoration-thickness: 0.3rem;
}

[id] {
    scroll-margin-top: variables.space(24);
}

ul {
    padding-left: 40px;
}

li {
    list-style: disc;
    padding-bottom: 0.2em;
}

blockquote {
    border-left: solid 4px variables.$color-red-500;
    padding-left: 1em;
}

blockquote>p {
    margin-block-start: variables.space(6);

}

h1 {
    font-size: variables.$font-size-xl;
    text-align: center;
    margin: 0;
    padding-block: 2rem;

    @include breakpoint.wider_than(sm) {
        font-size: variables.$font-size-2xl;
    }
}

h2 {
    font-size: variables.$font-size-lg;
    margin: 0;
    padding-block: 1rem 0.5rem;

    @include breakpoint.wider_than(sm) {
        font-size: variables.$font-size-xl;
    }
}

.text-center {
    text-align: center;
}

a {
    color: inherit;
    text-decoration: underline;

    &:hover {
        text-decoration-color: variables.$color-red-400;
    }

    &:visited {
        color: inherit;
    }
}

.schedule a {
    color: inherit;
}


/* For fontawesome */
.svg-inline--fa {
    overflow: visible;
    box-sizing: content-box;
    display: inline-block;
    height: 1em;
    vertical-align: -0.125em;
}