@import "../variables.scss";

:root {
  --hero-color: white;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: $color-background;
  color: $color-black;
  font-family: $font-family;
  font-size: $font-size-md;
  font-weight: 300;
  line-height: $line-height-normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  font-weight: 700;
}

h1, h2 {
  // note: writing this as text-decoration shorthand does not work on safari 
  text-decoration-line: underline;
  text-decoration-color: $color-red-400;
  text-decoration-thickness: 0.3rem;
}


[id] {
  scroll-margin-top: space(24);
}

ul {
  padding-left: 40px;
}

li {
  list-style: disc;
  padding-bottom: 0.2em;
}

blockquote {
  border-left: solid 4px $color-red-500;
  padding-left: 1em;
}

blockquote>p {
  margin-block-start: space(6);

}

h1 {
  font-size: $font-size-xl;
  text-align: center;
  margin: 0;
  padding-block: 2rem;

  @include wider_than(sm) {
    font-size: $font-size-2xl;
  }
}

h2 {
  font-size: $font-size-lg;
  margin: 0;
  padding-block: 1rem 0.5rem;
  @include wider_than(sm) {
    font-size: $font-size-xl;
  }
}

.text-center {
  text-align: center;
}

a {
    color: inherit;
    text-decoration: underline;

    &:hover {
      text-decoration-color: $color-red-400;
    }

    &:visited {
      color: inherit;
    }
}

.schedule a {
  color: inherit;
}

