---
import CommonLayout from "../layouts/CommonLayout.astro";
---

<CommonLayout title="🔴 Live recordings" header="RustWeek Live">
    <div>
        <br /><br />
        <h2>Conference Day 1</h2>
        <iframe
            style="aspect-ratio: 16/9; width:60vw;"
            src=""
            title="RustWeek 2025 Conference Day 1"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen></iframe>
        <br /><br /><br /><br />
        <h2>Conference Day 2</h2>
        <iframe
            style="aspect-ratio: 16/9; width:60vw;"
            src=""
            title="RustWeek 2025 Conference Day 2"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen></iframe>
    </div>
</CommonLayout>

<style lang="scss">
    @use "../styles/variables.scss";

    h2 {
        font-size: font-size-2xl;
    }
</style>
