---
import CommonLayout from "../layouts/CommonLayout.astro";

import Location from "../components/Location.astro";
import DefaultSection from "../components/DefaultSection.astro";

import Sponsor from "../components/sponsor/sponsor.astro";
import SponsorTier from "../components/sponsor/sponsor-tier.astro";
import Sponsors from "../components/sponsor/Sponsors.astro";

import TimetableItem from "../components/timetable/timetable-item.astro";
import Timetable from "../components/timetable/timetable.astro";
import DoubleTimetable from "../components/timetable/DoubleTimetable.astro";
---

<CommonLayout title="Unconference" header="Rust Week unconference" withLogo>
    <DefaultSection header="Support the ecosystem">
        <p>
            RustWeek will host an unconference for Rust maintainers and Rust
            Project team members on <strong>May 9 & 10</strong>.
        </p>
        <p>
            Two areas of focus are <strong
                >multi-platform application development</strong
            > and
            <strong>embedded systems</strong>.
        </p>
        <p>
            The unconf organization is supported by <a
                href="https://robius.rs/"
                target="_blank">Project Robius</a
            >, the <a href="https://github.com/rust-embedded/wg" target="_blank"
                >Embedded devices working group</a
            >.
        </p>
        <p>
            <strong>Sponsor the unconf</strong><br />
            Contact us at <a href="mailto:2024@rustnl.org">2024@rustnl.org</a> if
            you're interested in sponsoring the unconference.
        </p>
    </DefaultSection>

    <section class="container" id="organizing-partners">
        <Sponsors>
            <div slot="support">
                <SponsorTier name="Organizing partners">
                    <div
                        class="sponsor"
                        style="--image: url(/images/sponsors/unconf/embedded-wg.png);"
                    >
                    </div>
                    <div
                        class="sponsor"
                        style="--image: url(/images/sponsors/unconf/robius-app-dev.png);"
                    >
                    </div>
                </SponsorTier>
            </div>
        </Sponsors>
    </section>

    <DefaultSection header="Unconf Location">
        The unconf is held in the centre of Delft at <a
            href="https://vakwerkhuis.com/">Vakwerkhuis</a
        >.<br /><br />
        <strong>Venue address:</strong>
        <br />Vakwerkhuis, Professor Snijdersstraat 2<br />Delft, The
        Netherlands<br />
    </DefaultSection>

    <Location />

    <DefaultSection header="Participating in the unconf">
        The unconf is not open to the general public and requires an invitation
        to attend. Are you a Rust maintainer or Rust project team member and
        want to participate in the unconf? Send us an <a
            href="mailto: erik@rustnl.org">email</a
        >.<br />
        Update: the unconf is at full capacity; we can no longer accept new participants.
    </DefaultSection>

    <section class="container sponsors" id="sponsors">
        <Sponsors>
            <h3>Unconference sponsors</h3>
            <SponsorTier name="Ecosystem partner">
                <Sponsor
                    name="Rust Foundation"
                    tier="ecosystem-partner"
                    image="rustfoundation.png"
                    link="https://foundation.rust-lang.org/"
                />
                <Sponsor
                    name="Futurewei Technologies"
                    tier="ecosystem-partner"
                    image="futurewei.png"
                    link="https://www.futurewei.com/"
                />
            </SponsorTier>
            <SponsorTier name="Ecosystem supporters">
                <Sponsor
                    name="Infineon Technologies"
                    tier="ecosystem-supporter"
                    image="infineon.png"
                    link="https://infineon.com/"
                />
                <Sponsor
                    name="One Variable"
                    tier="ecosystem-supporter"
                    image="onevariable.png"
                    link="https://onevariable.com"
                />
                <Sponsor
                    name="Ferrous Systems"
                    tier="ecosystem-supporter"
                    image="ferrous.png"
                    link="https://ferrous-systems.com/"
                />
            </SponsorTier>
            <SponsorTier name="Supporters">
                <Sponsor
                    name="Christian Meusel"
                    link="https://christian-meusel.de"
                />
            </SponsorTier>
        </Sponsors>
    </section>

    <section class="container py-24" id="schedule">
        <DoubleTimetable>
            <span slot="name-1"
                >Unconf schedule <strong>Day 1 / May 9</strong></span
            >
            <Timetable slot="1">
                <TimetableItem
                    time="09:00"
                    title="Venue opens + registration"
                    speaker="Machinehal"
                />

                <TimetableItem
                    time="09:30"
                    title="Welcome & Start of Day 1"
                    speaker="Plenary opening @ Machinehal"
                />

                <TimetableItem
                    time="09:45"
                    title="Unconf break-out sessions"
                    speaker="Tracks: UI & App Dev | Project | Embedded"
                />

                <TimetableItem time="10:30" title="Coffee break" />

                <TimetableItem
                    time="11:00"
                    title="Unconf break-out sessions"
                    speaker="Tracks: UI & App Dev | Project | Embedded"
                />

                <TimetableItem
                    time="12:30"
                    title="Lunch"
                    speaker="Machinehal"
                />

                <TimetableItem
                    time="13:30"
                    title="Unconf break-out sessions"
                    speaker="Tracks: UI & App Dev | Project | Embedded"
                />

                <TimetableItem time="15:00" title="Coffee break" />

                <TimetableItem
                    time="15:30"
                    title="Unconf break-out sessions"
                    speaker="Tracks: UI & App Dev | Project | Embedded"
                />

                <TimetableItem time="17:00" title="Drinks" />

                <TimetableItem time="18:00" title="End of day 1" />
            </Timetable>

            <span slot="name-2">
                Unconf schedule <strong>Day 2 / May 10</strong>
            </span>
            <Timetable slot="2">
                <TimetableItem
                    time="09:00"
                    title="Venue opens"
                    speaker="Machinehal"
                />

                <TimetableItem
                    time="09:30"
                    title="Start of day 2"
                    speaker="Machinehal"
                />

                <TimetableItem
                    time="09:30"
                    title="Unconf break-out sessions"
                    speaker="Tracks: UI & App Dev | Project | Embedded"
                />

                <TimetableItem time="10:30" title="Coffee break" />

                <TimetableItem
                    time="11:00"
                    title="Unconf break-out sessions"
                    speaker="Tracks: UI & App Dev | Project | Embedded"
                />

                <TimetableItem
                    time="12:30"
                    title="Lunch"
                    speaker="Machinehal"
                />

                <TimetableItem
                    time="13:30"
                    title="Unconf break-out sessions"
                    speaker="Tracks: UI & App Dev | Project | Embedded"
                />

                <TimetableItem time="15:00" title="Coffee break" />

                <TimetableItem
                    time="15:30"
                    title="Unconf break-out sessions"
                    speaker="Tracks: UI & App Dev | Project | Embedded"
                />

                <TimetableItem time="17:00" title="Drinks" />

                <TimetableItem time="18:00" title="End of day 2" />
            </Timetable>
        </DoubleTimetable>
    </section>
</CommonLayout>
