---

---

<div class="space-y-12 md:grid md:cols-2 md:space-y-0">
    <div class="space-y-6 px-3 sm:px-6 md:space-y-12 xl:px-12">
        <h3>
            <slot name="name-1" />
        </h3>
        <slot name="1" />
    </div>
    <div class="space-y-6 px-3 sm:px-6 md:space-y-12 xl:px-12">
        <h3>
            <slot name="name-2" />
        </h3>
        <slot name="2" />
    </div>
</div>
<style lang="scss">
    @use "../../styles/variables.scss";

    h3 {
        font-size: variables.$font-size-xl;
    }
</style>
