---

---

<div class="timetable">
    <slot />
</div>

<style lang="scss">
    @import "../../styles/variables.scss";

    .timetable {
        border-block: 1px solid var($color-yellow-400);
    }
</style>
