---
const { name } = Astro.props;
---

<div class="sponsors-tiers space-y-6">
    <h3>{name}</h3>

    <div class="sponsors-row">
        <slot />
    </div>
</div>

<style lang="scss">
    @import "../../styles/variables.scss";

    h3 {
        font-size: $font-size-lg;
    }

    .sponsors-tiers {
        &:not(:last-child) {
            border-block-end: 1px solid $color-neutral-500;
        }
    }

    .sponsors-row {
        display: flex;
        flex-wrap: wrap;
        gap: space(6);
        justify-content: center;
    }
</style>
