---

---

<div class="sponsors">
    <slot />
</div>

<style lang="scss">
    @import "../../styles/variables.scss";

    .sponsors {
        text-align: center;

        &::before {
            background-image: url("/images/stripes.svg");
            background-position: center center;
            background-repeat: no-repeat;
            background-size: 100% auto;
            content: "";
            display: block;
            height: space(6);
            position: relative;
            margin: space(12) 0;
        }
    }
</style>
