<div class="hotels container">
    <slot />
</div>

<style>
    .hotels {
        display: grid;
        gap: 2em;
        grid-template-columns: repeat(auto-fit, minmax(18.5rem, 1fr));
        margin-block-end: 3rem;
    }
</style>
