---
import Person from "../components/people/Person.astro";
import PeopleList from "../components/people/PeopleList.astro";
import CommonLayout from "../layouts/CommonLayout.astro";
import OneColumnText from "../components/OneColumnText.astro";
---

<CommonLayout title="About" header="About" withLogo>
    <OneColumnText>
        
        <p>
            Stichting Rust Nederland, RustNL for short, is a non-profit that
            strives to promote the implementation of the Rust programming
            language.
        </p>
        <p>
            RustNL is an associate member of the Rust Foundation. We organize meetups and events to bring the Rust community
            together, like RustWeek. The foundation's details can be found on <a
            href="https://rustnl.org">rustnl.org</a
        >.
        </p>
        <h3>
            Contact us
        </h3>
        <p>
            Questions? Reach out to us via <a href="mailto:2025@rustnl.org">2025@rustnl.org</a>
        </p>
    </OneColumnText>
    <h2 class="text-center py-12" id="organisers">RustWeek 2025 team</h2>
    <PeopleList>
        <Person
            name="Erik Jonkers"
            image="erik.jpg"
            title="Board member of the RustNL foundation and Director of Open Source of software agency Tweede golf."
            tile
        />
        <Person
            name="Laura Pircalaboiu"
            image="laura.png"
            title="Embedded software engineer at Q*Bird"
            tile
        />
        <Person
            name="Jana Dönszelmann"
            image="jana.png"
            title="Lecturer in Embedded Systems at Delft University of Technology and founder of Hexcat"
            tile
        />
        <Person
            name="Terts Diepraam"
            image="terts.png"
            title="Maintainer on Uutils and Software Engineer at NLnet Labs"
            tile
        />
        <Person
            name="Mara Bos"
            image="mara.jpg"
            title="Rust leadership council and founder of Hexcat"
            tile
        />
    </PeopleList>
    <!-- <h2 class="text-center py-12">Volunteers</h2>
    <PeopleList>
        <Person
            name="Name"
            image="empty.png"
            title="Description"
            tile
        />
    </PeopleList> -->
</CommonLayout>
