---
import CommonLayout from "../layouts/CommonLayout.astro";
import LocationDusMix from "../components/LocationDusMix.astro";
import RustProjectSchedule from "../components/schedule/RustProjectSchedule.astro";
---

<CommonLayout
    title="Rust All-Hands 2025"
    header="Rust All-Hands 2025"
    withoutMenu
>
    <section class="md:grid md:cols-12" style="padding-block-end: 1em;">
        <div class="abouttext md:col-start-3 md:col-end-11 xl:col-start-4 xl:col-end-10" >
            <p>
            The <b>Rust All-Hands 2025</b> will take place as part of <a href="/">RustWeek 2025</a>,
            which includes a conference and other activities.</p>
        </div>
        <div class="md:col-start-3 md:col-end-11 xl:col-start-4 xl:col-end-10" >
            <p style="margin-bottom: 2em; border: 1px solid black; padding: 1em;">
                NOTE: All information on this page is for <b>Rust project members</b> and invited guests.
                If you are not part of this group, please check out the <a href="/">RustWeek 2025</a> homepage instead.
            </p>
            <h2>Schedule</h2>
            <p >If you are a member of the Rust Project (or an invited guest) and attending RustWeek 2025, your week will look like this:</p>
        </div>
    </section>
    <section class="anchor" id="schedule">
        <RustProjectSchedule />
    </section>

    <section class="md:grid md:cols-12 py-12" style="padding-block: 1em;">
        <div class="md:col-start-3 md:col-end-11 xl:col-start-4 xl:col-end-10" >
            <p>
            <b>Schedule:</b> The full schedule is available on
            <a href="https://calendar.google.com/calendar/embed?src=c_866940e3e08708ed27131e714ba3282c89d0bd963bbfec7cda1493d5ec98be7e%40group.calendar.google.com&ctz=Europe%2FAmsterdam&mode=week&dates=20250513%2F20250519">Google Calendar</a>
            and as <a href="https://calendar.google.com/calendar/ical/c_866940e3e08708ed27131e714ba3282c89d0bd963bbfec7cda1493d5ec98be7e%40group.calendar.google.com/public/basic.ics">iCal file</a>.
            </p>
            <p>
            <b>Location:</b>
            Tuesday and Wednesday are at <a href="/kinepolis">Kinepolis</a>.
            Thursday, Friday and Saturday are at <a href="/dus">DUS</a>.
            </p>
            <p>
            RustWeek 2025 includes social activities organised by and for all attending Rustaceans.
            You are very welcome to join these activities or organise your own.
            </p>
            <p>Check out the <a href="/">RustWeek 2025</a> homepage for details.</p>
        </div>
        <div class="md:col-start-3 md:col-end-11 xl:col-start-4 xl:col-end-10" >
            <h2>Rust Project track (Wednesday)</h2>
            <p>
            On Wednesday, the second day of the RustWeek 2025 conference,
            there will be a dedicated room for the "Rust Project track".
            </p>
            <p>
            Team members are giving talks as part of this track that are mainly relevant
            to Rust project members and contributors.
            See <a href="https://rustweek.org/schedule/wednesday/">the Wednesday conference schedule</a> for an overview of the talks.
            </p>
            <p>
            To attend the conference, you'll need a <a href="https://www.eventbrite.nl/e/rust-week-2025-tickets-1001676961757?aff=oddtdtcreator">conference ticket</a>.
            If your employer is unable to pay for your ticket, please request a sponsored ticket from the Rust Foundation through grants@rustfoundation.org.
            </p>
        </div>
        <div class="md:col-start-3 md:col-end-11 xl:col-start-4 xl:col-end-10" >
            <h2>Pre-All-Hands (Thursday)</h2>
            <p><b>Schedule:</b> See <a href="https://docs.google.com/spreadsheets/d/1G07-f2pwAzEztZMpuxcCW3EWFS1pEX4ShNbsg91Qqjw/edit?gid=1598210379#gid=1598210379">the schedule spreadsheet</a>.</p>
            <p>
            The day before the all-hands, we will have some time to relax at a fun and informal "pre-all-hands" day.
            This takes place at the same <a href="/dus">venue</a> as the all-hands.
            </p>
            <p>
            If you do feel the urge to do anything productive on this day, there will be plenty of rooms to work or collaborate with others.
            For everyone else, there will be board games, Lego, outdoor games, and plenty of other team members to hang out with.
            </p>
            <p>
            You don't need a separate ticket for the Pre-All-Hands.
            </p>
        </div>
        <div class="md:col-start-3 md:col-end-11 xl:col-start-4 xl:col-end-10" >
            <h2>Celebration (Thursday afternoon)</h2>
            <p>
            At the same venue, in the afternoon and evening, we will be celebrating the 10th birthday of Rust 1.0
            together with all All-Hands and Unconf attendees, Rust users, and some sponsors.
            </p>
            <p>
            Rust's 10th birthday happens to fall exactly on the same day as the release of Rust 1.87.0,
            which will happen live on stage.
            </p>
            <p>
            All attendees of the Rust All-Hands are also invited to the celebration.
            You don't need a separate ticket for the celebration.
            If you want to bring a +1, contact Mara on Zulip.
            </p>
            <p>
            See the <a href="/celebration">celebration page</a> for more details.
            </p>
        </div>
        <div class="md:col-start-3 md:col-end-11 xl:col-start-4 xl:col-end-10">
            <h2>All-Hands (Friday and Saturday)</h2>
            <p><b>Schedule:</b> See <a href="https://docs.google.com/spreadsheets/d/1G07-f2pwAzEztZMpuxcCW3EWFS1pEX4ShNbsg91Qqjw/edit?gid=0#gid=0">the schedule spreadsheet</a>.</p>
            <p><b>Covid policy:</b> Please review our <a href="/covid-policy-all-hands-and-unconf">covid policy</a> for the all hands.</p>
            <p>
            The Rust All-Hands 2025 will officially begin on Friday.
            In the main room, several 1-hour cross team sessions will be held.
            Other than that, each team or topic will have its own room.
            </p>
            <p>
            In total, we will have 12 rooms available to us.
            See <a href="https://docs.google.com/spreadsheets/d/1G07-f2pwAzEztZMpuxcCW3EWFS1pEX4ShNbsg91Qqjw/edit?gid=0#gid=0">the schedule</a> for details
            and points of contact for each room.
            </p>
            <p>
            Each room will have tables made out of cardboard that you can write on and a whiteboard and/or flipover.
            Most rooms will have a large HDMI screen as well.
            </p>
            <p>
            To attend the Rust All-Hands, you'll need to <a href="https://docs.google.com/forms/d/e/1FAIpQLSeeoEsZGLGokSK0Gn8GVRHhM23KgbwKsp67oxi79KfdsbipkQ/viewform">register</a>.
            </p>
        </div>
    </section>
    <section id="floorplan" style="width: 100%;padding-block-start: 1em;">
        <img style="width: 100%" src="/images/venues/plattegrond2.svg" />
    </section>
    <section class="md:grid md:cols-12 py-12" style="padding-block-start: 1em;">
        <div class="md:col-start-3 md:col-end-11 xl:col-start-4 xl:col-end-10" >
            <h2>Co-located Unconference</h2>
            <p>
            At the same venue, in the other wing of the same building,
            there will be a parallel event: an unconference for Rust maintainers.
            This unconference will include rooms for Rust for Linux, Bevy, UI/app development, the embedded working group, and more (TBD).
            </p>
            <p>
            This provides a great opportunity for collaboration.
            You can invite potential users to your discussions about new Rust features,
            or you can ask to join one of the maintainer rooms to hear about their Rust needs.
            </p>
        </div>
        <div class="md:col-start-3 md:col-end-11 xl:col-start-4 xl:col-end-10" style="padding-block-end: 5em;">
            <h2>Travel and Hotel</h2>
            <p>
            See the <a href="/#where">RustWeek 2025 homepage</a> for details on the location of the conference and how to travel there.
            </p>
            <p>
            For attendees of the All-Hands, we have <a href="/hotels-all-hands">block reservations at three hotels</a> that you can make use of.
            Additional hotel recommendations can be found on the <a href="/hotels">hotels page</a>.
            </p>
            <p>
            If you don't have an employer that pays for your trip, make sure to request a reimbursement from the Rust Foundation by contacting grants@rustfoundation.org.
            </p>
        </div>
    </section>
    <LocationDusMix />
    <section class="md:grid md:cols-12 py-12">
        <div class="md:col-start-3 md:col-end-11 xl:col-start-4 xl:col-end-10" >
            <p>
            This page will be updated with more information in the following weeks and months.
            </p>
            <p>
            If you have any logistical or organisational questions, please reach out to Mara on Zulip!
            </p>
        </div>
    </section>
</CommonLayout>
