---
import Head from "../components/page/head.astro";
import Button from "../components/Button.astro";
import "../styles/index.scss";

const title = "10 Years of Rust Celebration";
---

<!doctype html>
<html lang="en">
  <Head title={`${title} - RustWeek 2025`} ogImage="https://rustweek.org/images/share-rust-10-year.jpg"/>
  <body>
    <section class="container section postcards grid cols-12">
      <div class="postcard back"></div>
      <div class="postcard front"></div>
    </section>
    <section class="section party">
      <div class="container grid cols-12">
        <div class="balloon">
          <h1>10 Years of Rust Celebration</h1>
          <p>
          On May 15th, 2025, we will celebrate the 10th anniversary of
          <a href="https://blog.rust-lang.org/2015/05/15/Rust-1.0/">Rust's first stable release</a>.
          This day also happens to be the <a href="https://www.whatrustisit.com/">release day</a> of Rust&nbsp;1.87.0,
          which will be published live on stage.
          During the release process, which will take a few hours,
          there will be short talks by past and current team members,
          and a chance to meet other Rustaceans over a drink and some snacks.
          </p>
          <p style="margin-top: 1rem">
          This celebration is part of <a href="/">RustWeek 2025</a>, but requires a separate ticket.
          </p>
          <Button
            scale={1}
            ty="primary-10"
            link="https://www.eventbrite.nl/e/10-years-of-rust-celebration-rustweek-2025-tickets-1333000573599?aff=oddtdtcreator">
              Get your ticket now!
          </Button>
          <p style="margin-top: 1rem; font-size: 90%">
          Note: You do not need to get a ticket if you are invited to the Rust&nbsp;All-Hands.
          If you are attending the RustWeek&nbsp;Unconf, or if you are a speaker or workshop host at RustWeek,
          you can get a free ticket using the link you got by email.
          </p>
        </div>
      </div>
    </section>
    <section class="section container grid cols-12">
      <div class="schedule">
        <h2>Schedule</h2>
        <ul>
          <li>
            <div class="slab">16:00</div>
            <div>Welcome</div>
          </li>
          <li>
            <div class="slab">17:00</div>
            <div>Start of live release of Rust 1.87.0</div>
          </li>
          <li>
            <div class="slab">17:15</div>
            <div>Short talks by team members, alumni, friends, and sponsors
            <br />
            <span style="font-size: 80%; font-style: italic;">
            Including
            Alex Crichton,
            Aria Desires (aka Gankra),
            Niko Matsakis,
            Guillaume Gomez (aka imperio),
            Jonas Boettiger (aka joboet),
            Alice Ryhl,
            and Bec Rambul;
            hosted by Nell Shamrell-Harrington!</a>
            </div>
          </li>
          <li>
            <div class="slab">19:00-ish</div>
            <div>Finalizing the live release of Rust 1.87.0</div>
          </li>
          <li>
            <div class="slab">20:00</div>
            <div>End</div>
          </li>
        </ul>
      </div>
    </section>

    <footer class="footer container">
      <span>Artwork by <span style="font-style: italic">Paige Jane Losare-Lusby</span></span>
      <a href="/code-of-conduct/">Code of conduct</a>
      <a href="/">RustWeek 2025</a>
    </footer>
  </body>
</html>

<style lang="scss">
  body {
    background-color: #ffdc0c;
    background-image: url("/images/confetti.webp");
    border: 1rem solid #ff7500;
    min-height: 100vh;
  }

  h1,
  h2,
  h3,
  .slab {
    text-decoration: none;
    font-family: "Alfa Slab One";
    font-style: normal;
    font-weight: 400;
  }

  h1,
  h2,
  h3,
  p {
    margin: 0;
    padding: 0;
  }

  .section {
    padding-block: 3rem;

    @media (width >= 768px) {
      padding-block: 9rem;
    }
  }

  .postcard {
    aspect-ratio: 1.43/1;
    background-size: cover;
    border-radius: 1rem;
    border: 4px solid black;
    box-shadow: -40px 35px 32px 0px rgba(0,0,0,0.33);
    grid-row: 1;
  }

  .postcard.back {
    background-image: url("/images/postcard-back.webp");
    rotate: 3deg;
    grid-column: 2 / 13;
    translate: 0 -25px;

    @media (width >= 768px) {
      rotate: 6deg;
      translate: 0 -45px;
      grid-column: 5 / span 7;
    }
  }

  .postcard.front {
    background-image: url("/images/postcard-rust-10th-year.webp");
    grid-column: 1 / 12;
    rotate: -3deg;
    translate: 0 8px;

    @media (width >= 768px) {
      grid-column: 3 / span 7;
    }
    box-shadow: 0 0 40px rgba(0,0,0,0.67);
  }

  .section.party {
    position: relative;

    &::before {
      aspect-ratio: 1;
      background-image: url("/images/ferris-happy.png");
      background-position: right center;
      background-size: cover;
      background-repeat: no-repeat;
      content: "";
      position: absolute;
      height: 9rem;
      left: 0;
      top: -2rem;

      @media (width >= 768px) {
        translate: 0 -50%;
        height: calc(100% - 9rem);
        top: 50%;
      }
    }
  }

  .schedule,
  .balloon {
    box-shadow: -40px 35px 32px 0px rgba(0,0,0,0.33);
    background-color: #fff;
    border-radius: 1rem;
    border: 8px solid #ff7500;
    padding: 1.5rem;

    @media (width >= 768px) {
      padding: 2.5rem;
    }

    h1 {
      font-size:  1.7329rem;
      text-align: left;
      
      @media (width >= 768px) {
        font-size:  2.3099557rem;
      }
    }
  }

  .balloon {
    grid-column: span 12;
    position: relative;

    @media (width >= 768px) {
      grid-column: 5 / 12;
    }

    h1, 
    h2 {
      color: #ff7500;
    }

    &::before {
      @media (width >= 768px) {
        background-color: #ff7500;
        clip-path: polygon(100% 0, 0 0, 100% 100%);
        content: "";
        left: 0;
        position: absolute;
        top: 2.5rem;
        translate: -100%;
        width: 7.5rem;
        z-index: -1;
      }
    }

    > * + * {
      margin-block-end: 1.5rem;
    }
  }

  .schedule {
    color: #ff7500;
    grid-column: span 12;
    position: relative;

    @media (width >= 768px) {
      grid-column: 2 / 12;
    }

    &::after {
      @media (width >= 768px) {
        position: absolute;
        content: "";
        right: 0;
        bottom: 0;
        background-image: url("/images/ferris-happy-index.webp");
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        width: 18rem;
        aspect-ratio: 1;
        translate: 50%;
        bottom: -2.5rem;
      }
    }

    > * + * {
      margin-block-start: 1rem;

      @media (width >= 768px) {
        margin-block-start: 1.5rem;
      }
    }

    h2 {
      text-align: center;
    }

    ul {
      padding: 0;

      > * + * {
        margin-block-start: 1rem;

        @media (width >= 768px) {
          margin-block-start: 1.5rem;
        }
      }
    }

    li {
      border-block: 1px solid #ff7500;
      display: flex;
      flex-direction: column;
      list-style: none;
      padding-block: 1rem;

      @media (width >= 768px) {
        padding-block: 1.5rem;
        flex-direction: row;
        font-size: 1.75rem;
        gap: 3rem;
      }
    }
  }

  .footer {
    background-color: #ffdc0c;
    border-top: 8px solid #ff7500;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    color: #ff7500;
    padding-block: 2rem;
    font-weight: 700;
    position: relative;
    flex-direction: column;
    align-items: center;

    @media (width >= 768px) {
      flex-direction: row;
      gap: 2rem;
    }

    &::before {
      background-image: url("/images/paige.webp");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      content: '';
      height: calc(100% - 1.5rem);
      aspect-ratio: 1;
      height: 6rem;
      width: 6rem;
      
      @media (width >= 768px) {
        position: absolute;
        left: 0.75rem;
        top: 50%;
        translate: 0 -50%;
        rotate: -4deg;
        height: calc(100% - 1.5rem);
        width: auto;
      }
    }
  }
</style>
