---
import HotelList from "../components/practical-info/hotels/HotelList.astro";
import Hotel from "../components/practical-info/hotels/Hotel.astro";
import CommonLayout from "../layouts/CommonLayout.astro"; 
---
<CommonLayout title="Hotel Recommendations" header="Hotel Recommendations" withLogo>
    <p>For convenience, we've compiled a list of hotel recommendations in and around Utrecht, spanning a range of different budgets.</p>
    <HotelList>
        <Hotel
            name="2L De Blend"
            link="https://www.booking.com/hotel/nl/2l-de-blend-utrecht.nl.html"
            image="deblend.jpg"
            distance_dus="2.6km"
            distance_kinopolis="3.1km"
            description="A small cozy hotel with affordable prices and a bed and breakfast vibe."
        />
        <Hotel
            name="Moxy Utrecht"
            link="https://www.marriott.com/en-us/hotels/amsou-moxy-utrecht/overview/"
            image="moxy.avif"
            distance_dus="5.7km"
            distance_kinopolis="2.3km"
            description="A trendy hotel with a morden vibe. Provides meeting rooms, co-working facilities and a bar. On the more expensive side."
        />        
        <Hotel
            name="NH Utrecht (Jaarbeursplein)"
            link="https://www.nh-hotels.com/nl/hotel/nh-utrecht"
            image="nh-utrecht.jpg"
            distance_dus="4.1km"
            distance_kinopolis="600m"
            description="Sleek hotel in the center of Utrecht."
        />
    </HotelList>
</CommonLayout>
