---
import HotelList from "../components/practical-info/hotels/HotelList.astro";
import Hotel from "../components/practical-info/hotels/Hotel.astro";
import CommonLayout from "../layouts/CommonLayout.astro"; 
---
<CommonLayout title="Hotel Recommendations" header="Hotel Recommendations" withLogo>
    <p>For convenience, we've compiled a list of hotel recommendations in and around Utrecht, spanning a range of different budgets.</p>
    <HotelList>
        <Hotel
            name="2L De Blend"
            link="https://2ldeblend.nl/nl/"
            image="deblend.jpg"
            distance_dus="2.6km"
            distance_kinopolis="3.1km"
            price_range="140-200€"
            description="A small cozy hotel with affordable prices and a bed and breakfast vibe."
        />
        <Hotel
            name="Moxy Utrecht"
            link="https://www.marriott.com/en-us/hotels/amsou-moxy-utrecht/overview/"
            image="moxy.avif"
            distance_dus="5.7km"
            distance_kinopolis="2.3km"
            price_range="200-250€"
            description="A trendy hotel with a morden vibe. Provides meeting rooms, co-working facilities and a bar. On the more expensive side."
        />        
        <Hotel
            name="NH Utrecht (Jaarbeursplein)"
            link="https://www.nh-hotels.com/nl/hotel/nh-utrecht"
            image="nh-utrecht.jpg"
            distance_dus="4.1km"
            distance_kinopolis="600m"
            price_range="200-250€"
            description="Sleek hotel in the center of Utrecht."
        />
        <Hotel
            name="NH Amersfoort"
            link="https://www.nh-hotels.com/nl/hotel/nh-amersfoort"
            image="nh-amersfoort.jpg"
            distance_dus="4.1km"
            distance_kinopolis="600m"
            price_range="100-120€"
            description="Neat hotel close to the station in Amersfoort. Short commute by train to Utrecht, but on the more affordable side."
        />
        <Hotel
            name="Inntel Hotel Utrecht"
            link="https://www.inntelhotelsutrechtcentre.nl/"
            image="inntel.jpg"
            distance_dus="4.1km"
            distance_kinopolis="600m"
            price_range="250-300€"
            description="Very central, more luxurious hotel. Not suitable for large groups."
        />
        <Hotel
            name="Hampton by Hilton"
            link="https://www.hilton.com/nl/hotels/amsunhx-hampton-utrecht-central-station/"
            image="hilton.jpeg"
            distance_dus="4.1km"
            distance_kinopolis="600m"
            price_range="250-300€"
            description="Very central, more luxurious hotel."
        />
        <Hotel
            name="Crowne Plaza"
            link="https://www.hilton.com/nl/hotels/amsunhx-hampton-utrecht-central-station/"
            image="hilton.jpeg"
            distance_dus="4.1km"
            distance_kinopolis="600m"
            price_range="250-300€"
            description="Very central, more luxurious hotel."
        />
    </HotelList>
</CommonLayout>
