---
import HomeLayout from "../layouts/HomeLayout.astro";

import PeopleList from "../components/people/PeopleList.astro";
import Person from "../components/people/Person.astro";
import TwoSpeakers from "../components/people/TwoSpeakers.astro";

import Sponsor from "../components/sponsor/sponsor.astro";
import SponsorTier from "../components/sponsor/sponsor-tier.astro";

import Button from "../components/Button.astro";
import ButtonGroup from "../components/ButtonGroup.astro";
import Markdown from "../components/Markdown.astro";
---

<HomeLayout>
    <div slot="explainer">
        <h1 id="explainer">RustWeek 2025</h1>
        <p>
            RustNL is back in 2025 with a new name: RustWeek!
            <br />and—you've guessed it—a full week of Rust!
            <br />
        </p>
        <p>
            Date: <strong>May 13–17, 2025</strong><br />
            Location: <strong>Utrecht, the Netherlands</strong>
        </p>
        <p>
            The conference includes two days of talks, one day of workshops,
            sponsor and interaction space to talk and connect, and social
            activities all-week.
        </p>
        <p>
            Additionally, we're hosting Rust's 10th birthday celebration, an unconference
            for maintainers, and the first official Rust All Hands since 2019!
        </p>
    </div>

    <div slot="cfp">
        <h2 id="cfp">Call for Proposals</h2>
        <p>
            The Call for Proposals is <a href="https://www.papercall.io/rust-week">now open</a>. It will close Jan 12, 2025.<br />
            Ahead of the CFP selection we will announce four invited speakers.
        </p>
    </div>

    <div slot="where">
        <h2>Location: Utrecht</h2>
        <p>
            RustWeek 2025 will take place in Utrecht, one of the largest and
            most beautiful cities of the Netherlands. Utrecht is known for its
            medieval city centre and lovely canals, and has excellent public
            transport and walkability.
        </p>
        <p>
            A 24/7 <a
                href="https://www.ns.nl/en/journeyplanner/#/?vertrek=Schiphol Airport&aankomst=Utrecht Centraal"
                >train connection</a
            >
            from Amsterdam Schiphol Airport (AMS) takes you directly to Utrecht in
            just half an hour. (No need to buy a ticket; just check in and out with
            your bank card, credit card, or phone.)
        </p>
        <p>
            The two conference days will take place at Kinepolis Jaarbeurs
            Utrecht, just a few minutes walk from the Utrecht Centraal train
            station.
        </p>
        <p>
            The workshops, all-hands, and unconference will take place at De
            Utrechtse Stadsvrijheid, for which transport from the city centre
            will be provided.
        </p>
    </div>

    <Fragment slot="sponsors">
        <p>
            Interested in sponsoring? Download our <a
                target="_blank"
                href="/resources/sponsorship-prospectus-rustweek-2025.pdf"
                >Sponsorship prospectus</a
            > or <a href="mailto:sponsors@rustnl.org">contact us</a>
        </p>
        <!-- <SponsorTier name="Headline sponsor"> -->
        <!-- </SponsorTier> -->
        <SponsorTier name="">
            <Sponsor
                name="Rust Foundation"
                tier="ecosystem-partner"
                image="rustfoundation.png"
                link="https://foundation.rust-lang.org/"
            />
            <Sponsor
                name="Google"
                tier="ecosystem-partner"
                image="google.png"
                link="https://google.com/"
            />
            <Sponsor
                name="Arm"
                tier="silver"
                image="arm-blue.png"
                link="https://www.arm.com/"
            />
        </SponsorTier>
        <SponsorTier name="Organizing partners">
            <Sponsor
                name="Tweede golf"
                tier="organizing-partner"
                image="tweede-golf-v2.png"
                link="https://tweedegolf.nl"
            />
            <Sponsor
                name="Hexcat"
                tier="organizing-partner"
                image="hexcat.png"
                link="https://hexcat.nl"
            />
        </SponsorTier>
        <!-- <SponsorTier name="Workshop partner"> -->
        <!--     <div class="sponsors-row"></div> -->
        <!-- </SponsorTier> -->
        <!-- <SponsorTier name="Ecosystem supporters"> -->
        <!--     <div class="sponsors-row"></div> -->
        <!-- </SponsorTier> -->
        <!-- <SponsorTier name="NL Community sponsors"> -->
        <!--     <div class="sponsors-row"></div> -->
        <!-- </SponsorTier> -->
        <!-- <SponsorTier name="NL Community supporters"> -->
        <!--     <div class="sponsors-row"></div> -->
        <!-- </SponsorTier> -->
    </Fragment>
    <Fragment slot="previous-sponsors">
        <SponsorTier name="">
            <Sponsor
                name="Rust Foundation"
                tier="last-year"
                image="rustfoundation.png"
                link="https://foundation.rust-lang.org/"
            />
            <Sponsor
                name="Futurewei Technologies"
                tier="last-year"
                image="futurewei.png"
                link="https://www.futurewei.com/"
            />
            <Sponsor
                name="Tandemdrive"
                tier="last-year"
                image="tandemdrive.png"
                link="https://tandemdrive.com"
            />
            <Sponsor
                name="hyperswitch"
                tier="last-year"
                image="hyperswitch.png"
                link="https://hyperswitch.io"
            />
            <Sponsor
                name="Tweede golf"
                tier="last-year"
                image="tweede-golf-v2.png"
                link="https://tweedegolf.nl"
            />
            <Sponsor
                name="One Variable"
                tier="last-year"
                image="onevariable.png"
                link="https://onevariable.com"
            />
            <Sponsor
                name="Makepad"
                tier="last-year"
                image="makepad.png"
                link="https://makepad.nl"
            />
            <Sponsor
                name="Mainmatter"
                tier="last-year"
                image="mainmatter.png"
                link="https://mainmatter.com"
            />
            <Sponsor
                name="Infineon Technologies"
                tier="last-year"
                image="infineon.png"
                link="https://infineon.com/"
            />
            <Sponsor
                name="Ferrous Systems"
                tier="last-year"
                image="ferrous.png"
                link="https://ferrous-systems.com/"
            />
            <Sponsor
                name="Technolution"
                tier="last-year"
                image="technolution.png"
                link="https://technolution.com/"
            />
            <Sponsor
                name="Baseflow"
                tier="last-year"
                image="baseflow.png"
                link="https://baseflow.com/"
            />
            <Sponsor
                name="Jitter"
                tier="last-year"
                image="jitter.png"
                link="https://jitter.nl/"
            />
            <Sponsor
                name="Polars"
                tier="last-year"
                image="polars.png"
                link="https://pola.rs/"
            />
            <Sponsor
                name="Rocsys"
                tier="last-year"
                image="rocsys.png"
                link="https://rocsys.com/"
            />
            <Sponsor
                name="NLnet Labs"
                tier="last-year"
                image="nlnetlabs.png"
                link="https://nlnetlabs.nl/"
            />
        </SponsorTier>
    </Fragment>
    <div slot="about">
        <h2 id="about">About RustWeek</h2>
        <p>
            RustWeek is organised by Stichting Rust Nederland, RustNL for short,
            a non-profit that strives to promote the implementation of the Rust
            programming language.
        </p>
        <ButtonGroup>
            <Button link="/about">More About Us</Button>
        </ButtonGroup>
    </div>
    <Fragment slot="speakers">
        <Person
            name="Alice Ivy Cecile"
            image="alice_cecile.jpg"
            description="Bevy community leader & mad scientist"
        />
        <Person
            name="Pietro Albini"
            image="pietro_albini.jpg"
            description="Rust Project's Infra & Release teams"
        />
        <Person
            name="Alex Crichton"
            image="alex_crichton.jpg"
            description="Core Contributor of WasmTime"
        />
        <Person
            name="Miguel Ojeda"
            image="miguel_ojeda.jpg"
            description="Maintainer of Rust for Linux"
        />
        <Person
            name="You?"
            image="empty.png"
            description="Respond to the CFP!"
        />
    </Fragment>
    <Fragment slot="workshops">
        <Person
            name="James Munns"
            image="james.png"
            description="Embedded, systems and Rust consultant & Director @ OneVariable"
        />
        <Person
            name="Rik Arends"
            image="rik.jpeg"
            description="Founder @ Makepad"
        />
        <TwoSpeakers>
            <Person
                name="Tamme Dittrich"
                image="tamme.jpg"
                description="Embedded Rust engineer @ Tweede golf"
            />
            <Person
                name="Henk Oordt"
                image="henk.png"
                description="Writing & teaching Rust @ Tweede golf"
            />
        </TwoSpeakers>
        <Person
            name="Luca Palmieri"
            image="luca.png"
            description="Principal Engineering Consultant @ Mainmatter"
        />
    </Fragment>
    <Fragment slot="previous-speakers">
        <Person
            name="Nicolas Nethercote"
            image="nicholas.png"
            talk="The status of parallel rustc"
            youtube="https://www.youtube.com/watch?v=q2vJ8Faundw&list=PL8Q1w7Ff68DCM_fsMM4v9m473sYLvJwHS&index=9"
        />
        <Person
            name="Rik Arends"
            image="rik.jpeg"
            talk="Makepad: Designing modern UIs with Rust"
            youtube="https://www.youtube.com/watch?v=rC4FCS-oMpg&list=PL8Q1w7Ff68DCM_fsMM4v9m473sYLvJwHS&index=1"
        />
        <Person
            name="Jonathan Kelley"
            image="jonathan.jpg"
            talk="Write once, run everywhere: building apps with Dioxus"
            youtube="https://www.youtube.com/watch?v=aSxdmXjZutI&list=PL8Q1w7Ff68DCM_fsMM4v9m473sYLvJwHS&index=6"
        />
        <Person
            name="Ed Page"
            image="ed.jpg"
            talk="Testing My Patience: An Exploration of Testing in Rust"
            youtube="https://www.youtube.com/watch?v=3aLPewRSiK8&list=PL8Q1w7Ff68DCM_fsMM4v9m473sYLvJwHS&index=4"
        />
    </Fragment>
</HomeLayout>
