---
import IndustryLayout from "../layouts/IndustryLayout.astro";

import Speaker from "../components/people/SpeakerSmall.astro";

import Sponsor from "../components/sponsor/sponsor.astro";
import SponsorTier from "../components/sponsor/sponsor-tier.astro";

import TimetableItem from "../components/timetable/timetable-item.astro";
import Timetable from "../components/timetable/timetable.astro";

import Markdown from "../components/Markdown.astro";
import Button from "../components/Button.astro";
import ButtonGroup from "../components/ButtonGroup.astro";
---

<IndustryLayout>
    <Markdown slot="about-industry">
        <h2 class="header space-y-6" id="about">About the industry track</h2>
        <p>The industry track is back at RustWeek 2025!</p>
        <p>
            Following the succes of the first edition, this track is dedicated to decision makers exploring the adoption
            of Rust in their organisation. 
        </p>
        <p>
            Date & time: <strong>Tuesday May 13, 9:30 - 16:30 CET</strong>.
        </p>
        <h3 class="venue">City & venue</h3>
        <p class="venue">
            Kinepolis Jaarbeurs Utrecht, <br /> Jaarbeursboulevard 300, <br
            /> 3521 BC Utrecht, The Netherlands
        </p>
    </Markdown>
    <Markdown slot="tickets">
        <h2 class="header space-y-6" id="about">Tickets</h2>
        <p>
            To attend the industry track, you will need an Industry Track
            ticket.<br />
            Tickets are EUR 99,- ex vat.
        </p>
        <ButtonGroup>
            <Button
                link="https://www.eventbrite.nl/e/790061233417/?discount=industry-track-only"
                >Get Industry Track ticket</Button
            >
        </ButtonGroup>
    </Markdown>
    <Fragment slot="speakers">
        <Speaker
            name="Julius Gustavsson"
            image="julius.jpeg"
            description="System architect at Volvo Cars"
        />
        <Speaker
            name="Niko Matsakis"
            image="niko.png"
            description="Senior Principal Engineer at Amazon Web Services"
        />
    </Fragment>

    <div slot="sponsors">
        <SponsorTier name="Ecosystem partner">
            <Sponsor
                name="Rust Foundation"
                tier="industry-partner"
                image="rustfoundation.png"
                link="https://foundation.rust-lang.org/"
            />
        </SponsorTier>
        <SponsorTier name="Industry experts">
            <Sponsor
                name="Julius Gustavsson"
                tier="industry-partner"
                link="https://www.volvocars.com/"
            />
            <Sponsor
                name="Hugo van de Pol"
                tier="industry-partner"
                link="https://tweedegolf.nl/en/about/9/hugo"
            />
        </SponsorTier>
        <SponsorTier name="Powered by">
            <Sponsor
                name="Tweede golf"
                tier="industry-partner"
                image="tweede-golf-v2.png"
                link="https://tweedegolf.nl"
            />
            <Sponsor
                name="RustNL"
                tier="industry-partner"
                image="../rustnl-logo-square.svg"
                link="/about"
            />
        </SponsorTier>
        <Timetable slot="timetable-day">
            <TimetableItem
                time="9.30"
                title="Registration"
            />
            <TimetableItem
                time="10.00"
                title="Opening"
                speaker="Hugo van de Pol"
            />
            <TimetableItem
                time="10.05"
                title="Rust at Volvo"
                speaker="Julius Gustavsson"
            />
            <TimetableItem
                time="10.25"
                title="Global State of Rust"
                speaker="Niko Matsakis"
            />
            <TimetableItem time="10.45" title="Short break" />
            <TimetableItem
                time="11.00"
                title="Expert Tables round 1 - learn from industry Rust pioneers"
                speaker="Experts to be announced"
            />
            <TimetableItem time="12.00" title="Lunch" />
            <TimetableItem
                time="13.00"
                title="Round 1 Recap"
                speaker="Hugo van de Pol"
            />
            <TimetableItem
                time="13.15"
                title="Talk number 3"
                speaker="Speaker to be announced"
            />
            <TimetableItem
                time="13:40"
                title="Expert Tables round 2 - learn from industry Rust pioneers"
                speaker="Experts to be announced"
            />
            <TimetableItem time="14.30" title="Coffee break" />
            <TimetableItem
                time="14.50"
                title="Round 2 Recap"
                speaker="Hugo van de Pol"
            />
            <TimetableItem
                time="15.05"
                title="Closking Keynote"
                speaker="Speaker to be announced"
            <TimetableItem
                time="15.30"
                title="Drinks"
            />
        </Timetable>
    </div></IndustryLayout
>

<style lang="scss">
    @import "../styles/variables.scss";

    .header {
        font-size: $font-size-2xl;
    }

    .venue {
        font-size: $font-size-lg;
    }
</style>
