---
import Button from "../components/Button.astro";
import ButtonGroup from "../components/ButtonGroup.astro";
import DoubleTimetable from "../components/timetable/DoubleTimetable.astro";
import TimetableItem from "../components/timetable/timetable-item.astro";
import Timetable from "../components/timetable/timetable.astro";
import CommonLayout from "../layouts/CommonLayout.astro";
---

<CommonLayout title="Schedule" header="Schedule" withLogo>
    <section class="container py-24 space-y-12" id="schedule">
        <div slot="above" style="text-align: center;">
            Check out our <a href="/directions">directions to the venue</a>, as
            well as the <a href="/boat">getting there with a boat</a> page.
        </div>

        <DoubleTimetable>
            <span slot="name-1">
                Schedule <strong>day 1 (May 7th)</strong>
            </span>
            <Timetable slot="1">
                <TimetableItem time="08:45" title="Registration Opens" />

                <TimetableItem time="09:45" title="Opening" />
                <TimetableItem
                    time="10:00"
                    title="Visual application design for Rust"
                    speaker="Rik Arends"
                    link="rik"
                />
                <TimetableItem
                    time="10:40"
                    title="(Th)Rust for Space: Initial momentum"
                    speaker="Michaël Melchiore"
                    link="michael"
                />

                <TimetableItem time="11:20" title="Break" />
                <TimetableItem
                    time="11:50"
                    title="Arc in the Linux Kernel"
                    speaker="Alice Ryhl"
                    link="alice"
                />
                <TimetableItem
                    time="12:30"
                    title="To Be Announced"
                    speaker="Mara Bos"
                    link="mara"
                />

                <TimetableItem time="12:45" title="Lunch Break" />

                <TimetableItem
                    time="14:00"
                    title="Replacing OpenSSL, one step at a time"
                    speaker="Joe Birr-Pixton"
                    link="joe"
                />
                <TimetableItem
                    time="14:40"
                    title="Fortifying Rust's FFI with Encapsulated Functions"
                    speaker="Leon Schuerman"
                    link="leon"
                />
                <TimetableItem time="15:20" title="Break" />
                <TimetableItem
                    time="15:50"
                    title="Oxidizing Education"
                    speaker="Henk Oordt"
                    link="henk"
                />
                <TimetableItem
                    time="16:15"
                    title="Postcard: an unreasonably effective tool for machine to machine communication"
                    speaker="James Munns"
                    link="james"
                />
                <TimetableItem time="17:00 - 18:00" title="Drinks" />
            </Timetable>
            <span slot="name-2">
                Schedule <strong>day 2 (May 8th)</strong>
            </span>
            <Timetable slot="2">
                <TimetableItem time="08:45" title="Venue Opens" />

                <TimetableItem
                    time="09:30"
                    title="Secret!"
                    speaker="Sophia Turner"
                    link="sophia"
                />
                <TimetableItem
                    time="10:10"
                    title="Robius: Immersive and Seamless Multi-platform App Development in Rust"
                    speaker="Kevin Boos"
                    link="kevin"
                />

                <TimetableItem time="10:50" title="Break" />
                <TimetableItem
                    time="11:20"
                    title="Compression carcinized: implementing zlib in Rust"
                    speaker="Folkert de Vries"
                    link="folkert"
                />
                <TimetableItem
                    time="12:00"
                    title="K23: A secure research OS running WASM"
                    speaker="Jonas Kruckenberg"
                    link="jonas"
                />

                <TimetableItem time="12:15" title="Lunch Break" />

                <TimetableItem
                    time="14:00"
                    title="Async Rust in embedded systems with Embassy"
                    speaker="Dario Nieuwenhuis"
                    link="dario"
                />
                <TimetableItem
                    time="14:40"
                    title="Xilem: let's build high performance Rust UI"
                    speaker="Raph Levien"
                    link="raph"
                />
                <TimetableItem time="15:20" title="Break" />
                <TimetableItem
                    time="15:50"
                    title="Rust poisoning my wrist for fun"
                    speaker="Ulf Lilleengen"
                    link="ulf"
                />
                <TimetableItem
                    time="16:15"
                    title="Type theory for busy engineers"
                    speaker="Niko Matsakis"
                    link="niko"
                />
                <TimetableItem time="17:00 - 19:00" title="Drinks" />
            </Timetable>
        </DoubleTimetable>
    </section>
    <div style="text-align: center;">
        Times and locations of workshops can be found on the <a
            href="/workshops">workshops</a
        > page.
    </div>
    <ButtonGroup>
        <!-- <div class="button-group button-group-center"> -->
        <Button link="/speakers">Our Speakers</Button>
        <Button link="/workshops">Workshop Schedule</Button>
        <Button link="/">Back Home</Button>
    </ButtonGroup>
</CommonLayout>
