---
import SpeakerFull from "../components/people/SpeakerFull.astro";
import CommonLayout from "../layouts/CommonLayout.astro";
---

<CommonLayout title="Speakers" header="Speakers" withLogo>
    <section id="speakers" class="speakers">
        <SpeakerFull
            name="Alice Ivy Cecile"
            image="alice_cecile.jpg"
            title="Project manager, engineer, mad scientist. "
            talkTitle=""
            talkAbstract=""
            bio="Alice leads and coordinates Bevy's bubbling open source community as they build the next generation of game engine in Rust!"
            mastodon="https://mastodon.gamedev.place/@alice_i_cecile"
            github="https://github.com/alice-i-cecile"
        />
        <SpeakerFull
            name="Pietro Albini"
            image="pietro_albini.jpg"
            title="Rust Project's Infra & Release teams"
            talkTitle=""
            talkAbstract=""
            bio=""
            mastodon="https://hachyderm.io/@pietroalbini"
            github="https://github.com/pietroalbini"
        />
        <p class="more-soon">More speakers will be announced soon!</p>
    </section>
</CommonLayout>

<style lang="scss">
    @import "../styles/variables.scss";
    @import "../styles/breakpoint.scss";

    .speakers {
        padding-top: 5em;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: min(40em, 90%);
    }

    .more-soon {
        font-weight: $font-weight-bold;
        text-align: center;
        font-size: 1.5em;
    }
</style>
