---
import CommonLayout from "../layouts/CommonLayout.astro";
import TimetableTuesday from "../components/TimetableTuesday.astro";
import TimetableWednesday from "../components/TimetableWednesday.astro";

const main = "Main";
const secondary = "Room 2";
const tertiary = "Room 3";
---

<CommonLayout title="Timetable" header="Timetable">
    <div class="timetables">
        <details name="timetable" open>
            <summary>Tuesday 13 May</summary>
            <div class="timetable">
                <TimetableTuesday />
            </div>
        </details>
        <details name="timetable">
            <summary>Wednesday 14 May</summary>
            <div class="timetable">
                <TimetableWednesday />
            </div>
        </details>
    </div>
</CommonLayout>

<style>
.timetables {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80ch;
    justify-content: center;
}

details {
    display: contents;
}

summary {
    display: block;
    grid-row: 1;
    padding-bottom: 0.2em;
    border-bottom: 2px solid transparent;
    text-align: center;
    font-weight: 500;
    width: 20ch;
    cursor: pointer;
}

details[open] > summary {
    border-bottom: 2px solid #e74310;
    pointer-events: none;
}

details:not([open]) {
    display: contents;
}

.timetable {
    order: 2;
    width: 100%;
    margin-top: 1em;
}
</style>