---
import CommonLayout from "../layouts/CommonLayout.astro";
import LocationDusRooms from "../components/LocationDusRooms.astro";
import LocationDusVenue from "../components/LocationDusVenue.astro";
import UnconfSchedule from "../components/schedule/UnconfSchedule.astro";
import UnconfSponsors from "../components/unconf/UnconfSponsors.astro";
import Divider from "../components/Divider.astro";

const unconfIntro = await Astro.glob("./unconf-intro.md");
---

<CommonLayout title="Unconf participants guide" header="Unconf participants guide" withLogo>
    <section class="container md:grid md:cols-12">
        <div
            class="abouttext text-center md:col-start-3 md:col-end-11 xl:col-start-4 xl:col-end-10"
            style="font-size: smaller;"
        >
            <a href="#venue">Venue</a> &bullet;
            <a href="#unconf-details">Unconf days</a> &bullet;
            <a href="#sponsors">Sponsors</a> &bullet;
            <a href="#travel">Travel</a> &bullet;
            <a href="#questions">Questions</a>
        </div>
        <div
            class="abouttext md:col-start-3 md:col-end-11 xl:col-start-4 xl:col-end-10"
            set:html={unconfIntro[0].compiledContent()}
        >
        </div>
        <div
            class="abouttext md:col-start-3 md:col-end-11 xl:col-start-4 xl:col-end-10"
        >   
            <p
                style="border: 1px solid black; padding: 1rem; font-style: italic; font-size: smaller;"
            >
                NOTE: All information on this page is for maintainers of invited
                unconf groups. If you are not part of the unconf groups, please
                check out the <a href="/">RustWeek 2025</a> homepage instead.
            </p>
            <h2 id="venue">The unconference venue</h2>
            <p>
                The unconf is held at DUS Utrecht.<br />
                Address: DUS, Sophialaan 1, Utrecht, The Netherlands.
            </p>
            <p>
                See the <a href="#floorplan">floor plan</a> and <a href="#rooms"
                    >rooms</a
                > section for more details.
            </p>
        </div>
    </section>
    <LocationDusVenue />
    <section class="container md:grid md:cols-12 py-12">
        <div class="md:col-start-3 md:col-end-11 xl:col-start-4 xl:col-end-10">
            <h2 id="weekschedule">Schedule for the week</h2>
            <p>
                If you are attending the RustWeek 2025 conference, the
                celebration and the unconf, your week will look like this:
            </p>
        </div>
    </section>
    <section class="container anchor" id="schedule">
        <UnconfSchedule />
    </section>
    <section
        class="container md:grid md:cols-12 py-12"
    >
        <div class="md:col-start-3 md:col-end-11 xl:col-start-4 xl:col-end-10">
            <p>
            <b>Location:</b>
            Tuesday and Wednesday are at <a href="/kinepolis">Kinepolis</a>.
            Thursday, Friday and Saturday are at <a href="/dus">DUS</a>.
            </p>
            <p>
                RustWeek 2025 includes social activities organised by and for
                all attending Rustaceans. You are very welcome to join these
                activities or organise your own.
            </p>
            <p>
                Check out the <a href="/">RustWeek 2025</a> homepage for details.
            </p>
            <h2 id="conf">Conference (Tue + Wed)</h2>
            <p>
                The 2-day conference is held next to the Utrecht Central Station
                at Kinepolis Jaarbeurs (not the same venue as the unconf!), on
                Tuesday and Wednesday.
            </p>
            <p>
                On Tuesday one of the tracks, the Ecosystem track, has one
                reserved talk for each unconf group. The group can suggest a
                talk, which can be any topic. It could be a deep-dive
                functioning as a warm-up for discussions at the unconf or a talk
                about how to join your community and start contributing.
            </p>
            <h2 id="celebration">Celebration (Thursday afternoon)</h2>
            <p>
                At the unconf venue, in the afternoon and evening, we will be
                celebrating the 10th birthday of Rust 1.0 together with Rust
                project members, Rust project alumni, Rust users, and sponsors.
                All participants of the unconf are welcome to join the party.
            </p>
            <p>
                Rust's 10th birthday happens to fall exactly on the same day as
                the release of Rust 1.87.0, which will happen live on stage.
            </p>
            <p>
                To attend the celebration, you'll need a ticket. Tickets will be
                free for all attendees of the RustWeek unconf.
            </p>
            <h2 id="unconf-details">Unconf (Friday and Saturday)</h2>
            <p>
            <b>Covid policy:</b> Please review our <a href="/covid-policy-all-hands-and-unconf">covid policy</a> for the unconf.
            </p>
            <p>
                The RustWeek unconf will begin on Friday. Other than a quick
                plenary start of the unconf, each unconf group will have their
                own schedule and their own dedicated rooms.
            </p>
            <p>
                RustNL, the organizer of RustWeek, will coordinate with your
                group about the schedules and room assignments in advance, and
                can assist to create opportunities for collaboration between your
                group, other unconf groups and Rust project teams.
            </p>
            <p>
                Of course, the group itself (not RustNL) decides on participants
                and its topics on the two unconf days. What needs to be
                coordinated with RustNL is the maximum size of the group and
                other logistics. For questions, the contact person of your group
                can reach out to Erik via erik@rustnl.org.
            </p>
        </div>
    </section>

    <section
        class="container md:grid md:cols-12 pt-12 pb-24"
        id="floorplan"
    >
        <div class="md:col-start-3 md:col-end-11 xl:col-start-4 xl:col-end-10">
            <h2>Venue layout</h2>
            <p>
                Below is the floor plan of the venue. More information can be found on the <a href="/dus#floor-plan">DUS venue page</a>.
            </p>
        </div>
        <div class="md:col-start-1 md:col-end-13 xl:col-start-2 xl:col-end-12">
            <img style="width: 100%" src="/images/venues/plattegrond2.svg" />
        </div>
    </section>

    <Divider />

    <UnconfSponsors />

    <Divider />

    <section
        class="container md:grid md:cols-12 py-12"
    >
        <div class="md:col-start-3 md:col-end-11 xl:col-start-4 xl:col-end-10">
            <h2>Co-located Rust project All-Hands</h2>
            <p>
                At the same venue, in the other wing of the same building, there
                will be a parallel event: the Rust project All-Hands.
            </p>
            <p>
                This provides a great opportunity for collaboration. You can
                invite Rust project members to hear about your Rust needs, or
                you can ask to join one of the project team rooms to take part
                in discussion about relevant new Rust features for your group.
            </p>
            <h2 id="rooms">Rooms</h2>
            <p>
                The venue has 20+ airconditioned rooms, of which 10 are reserved
                for the unconf. For lunch and socializing there are big inside
                (~350p) and outside areas.
            </p>
            <p>
                Each unconf group will have a main room and a breakout room. The
                room will have tables made out of cardboard that you can write
                on, a whiteboard and/or flipover, and a large HDMI screen.
            </p>
        </div>
    </section>
    <LocationDusRooms />
    <section class="container md:grid md:cols-12">
        <div class="md:col-start-3 md:col-end-11 xl:col-start-4 xl:col-end-10">
            <h2 id="travel">Travel and Hotel</h2>
            <p>
                See the <a href="/#where">RustWeek 2025 homepage</a> for details
                on the location of the conference and how to travel there.
            </p>
            <p>
                For hotel recommendations see our <a href="/hotels">hotels page</a>.
            </p>
            <p>
                RustNL can help cover part of cost for travel and stay for upto 5 participants in each unconf group. The compensation is reserved for participants that are not covered by their employer or other sponsor. Please contact your group's leader(s) for details.
            </p>
            <h2 id="questions">Questions?</h2>
            <p>
                This page will be updated with more information in the following
                weeks and months.
            </p>
            <p>
                If you have any logistical or organisational questions, please
                reach out to Erik via erik@rustnl.org.
            </p>
        </div>
    </section>
</CommonLayout>
