---

---

<div class="button-group">
    <slot />
</div>

<style lang="scss">
    @use "../styles/variables.scss";

    .button-group {
        display: flex;
        flex-wrap: wrap;
        gap: variables.space(3);
        justify-content: center;
    }

    .button-group-center {
        justify-content: center;
    }
</style>
