---
import { library, icon } from "@fortawesome/fontawesome-svg-core";
import { faGlobe } from "@fortawesome/free-solid-svg-icons";

interface Props {
    name: string,
    large?: boolean,
}

const {name, large=false}: Props = Astro.props;
library.add(faGlobe);

const globeIcon = icon({ prefix: "fas", iconName: faGlobe.iconName });
const big = large?"large":null;

---
{(name == "website") ? (
<div class:list={["icon", big]} set:html={globeIcon.html}></div>
) : (
<img class:list={["icon", big]} src={`/svg/socials/${name}.svg`} alt={`icon of ${name}`}>
)}

<style>
.icon {
    height: 1em;
    aspect-ratio: 1/1;
    display: inline;

    &.large {
        height: 1.5em;
    }
}
div.icon {
    height: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}
</style>
