---

---

<div class="markdown">
    <slot />
</div>

<style lang="scss" is:global>
    @use "../styles/variables.scss";

    .markdown {
        > * + * {
            margin-block-start: calc(variables.$font-size-md * variables.$line-height-normal);
        }

        a {
            text-decoration: underline;
            color: inherit;
        }

        ul {
            list-style: disc;
            padding-inline-start: variables.$font-size-lg;
        }

        .bus-timetable {
            font-family: monospace;
        }
    }
</style>
