---

---

<div>
    <slot />
</div>

<style lang="scss">
    div {
        width: min(48rem, 100%);
        display: flex;
        flex-direction: column;
        align-items: baseline;
    }
</style>
