
---
interface Props {
    link: string,
    name: string,
}

const {link, name}: Props = Astro.props;

---
<div class="stream">
    <h3>{name}</h3>
    <iframe 
        style="aspect-ratio: 16/9; width: min(80ch, 90vw);" 
        src={`${link}`} 
        title={`${name}`} 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        referrerpolicy="strict-origin-when-cross-origin" 
        allowfullscreen
    ></iframe>
</div>

<style lang="scss">
    
</style>
