---
---

<footer class="footer">
    <div class="menu">
        <a href="/">RustWeek 2025</a>
    </div>
    <div class="menu">
        <a href="/resources/sponsorship-prospectus-rustweek-2025.pdf">Sponsorships</a>
        <a href="/industry">Industry track</a>
        <a href="/unconf-intro">Unconf</a> 
        <a href="/code-of-conduct">Code of conduct</a>
        <!-- <a href="/health-brief">Health and Safety Policy</a> -->
    </div>
    <div class="menu">
        <a href="https://fosstodon.org/@rustnl" rel="me">Mastodon</a>
        <a href="https://www.linkedin.com/company/rustnl/">LinkedIn</a>
        <a href="https://bsky.app/profile/rustnl.bsky.social">Bluesky</a>
    </div>
</footer>

<style lang="scss">
    @use "../../styles/variables.scss";

    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: variables.$color-red-500;
        margin-block-start: variables.space(24);
        padding: variables.space(8) variables.space(4);

        .menu {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: variables.space(4);

            margin-block-end: variables.space(3);
            padding-block-end: variables.space(3);

            a {
                color: variables.$color-neutral-400;
            }
        }
    }
</style>
