---
import Menu from "./menu.astro";
---

<footer class="footer">
    <div class="menu">
        <a href="/">RustWeek 2025</a>
    </div>
    <div class="menu">
        <a href="/resources/sponsorship-prospectus-rustweek-2025.pdf">Sponsorships</a>
        <a href="/unconf">Unconf</a> 
        <!-- <a href="/workshops">Workshops</a> -->
        <a href="/code-of-conduct">Code of conduct</a>
        <a href="/accessibility">Accessibility</a>
        <a href="/hotels">Hotels</a>
        <!-- <a href="/directions">Directions</a> -->
        <!-- <a href="/health-brief">Health and Safety Policy</a> -->
        <!-- <a href="/directions">Getting to the Venue</a> -->
    </div>
    <div class="menu">
        <a href="https://twitter.com/Rust_NL">X</a>
        <a href="https://fosstodon.org/@rustnl" rel="me">Mastodon</a>
        <a href="https://www.linkedin.com/company/rustnl/">LinkedIn</a>
        <a href="https://bsky.app/profile/rustnl.bsky.social">Bluesky</a>
    </div>
</footer>

<style lang="scss">
    @import "../../styles/variables.scss";

    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $color-red-500;
        margin-block-start: space(24);
        padding: space(8) space(4);

        .menu {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: space(4);
            margin-block-end: space(3);
            padding-block-end: space(3);

            a {
                color: $color-neutral-400;
            }
        }
    }
</style>
