---
const { title } = Astro.props;
---

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta
        name="description"
        content="RustWeek 2025, The Netherlands - May 13 - 17 2025"
    />
    <link rel="icon" href="./svg/rustnl-logo-square.svg" type="image/svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap"
        rel="stylesheet"
    />
    <slot />
    <meta property="twitter:site" content="@Rust_NL" />
    <meta property="og:url" content="https://2025.rustnl.org/" />
    <meta property="og:title" content={title} />
    <meta
        property="og:description"
        content="RustWeek 2025, The Netherlands - May 13 - 17 2025"
    />
    <meta
        property="og:image"
        content="https://2025.rustnl.org/images/rustnl2025-header2.png"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;700&display=swap"
        rel="stylesheet"
    />
</head>
