---
import Button from "../Button.astro";

interface Props {
    location: "header" | "footer";
}

const { location }: Props = Astro.props;
---

<div class:list={["menu", location]}>
    <ul>
        <li>
            <span>Schedule</span>
            <ul>
                <li>
                    <a
                        href="/#schedule"
                        onclick="document.querySelector('[data-menu-toggle]').click()"
                        >Overview</a
                    >
                </li>
                <li><a href="/industry">Industry track</a></li>
            </ul>
        </li>
        <li>
            <a
                href="/#cfp"
                onclick="document.querySelector('[data-menu-toggle]').click()"
                >CFP</a
            >
        </li>
        <li>
            <a href="/speakers">Speakers</a>
        </li>
        <li>
            <a
                href="/#sponsors"
                onclick="document.querySelector('[data-menu-toggle]').click()"
                >Sponsors</a
            >
        </li>
        <li>
            <span>About</span>
            <ul>
                <li>
                    <a href="/about">About</a>
                </li>
                <li>
                    <a href="mailto:2025@rustnl.org">Contact</a>
                </li>
            </ul>
        </li>
        <li>
            <Button
                link="https://www.eventbrite.nl/e/rust-week-2025-tickets-1001676961757?aff=oddtdtcreator"
                ty="primary"
                inFooter={location == "footer"}>Tickets</Button
            >
        </li>
    </ul>
</div>

<style lang="scss">
    @import "../../styles/variables.scss";
    @import "../../styles/breakpoint.scss";

    .menu {
        display: contents;

        &.footer {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: space(2);

            a {
                color: #ffffff;
            }
        }

        &.header {
            a {
                align-items: center;
                color: inherit;
                display: flex;
                font-weight: 700;
                min-height: space(12);
                text-decoration: none;
                width: 100%;

                @include wider_than(lg) {
                    color: #ffffff;
                    width: auto;
                }
            }

            a:last-child {
                margin-block-start: space(3);

                @include wider_than(lg) {
                    margin-block-start: 0;
                }
            }
        }
    }
</style>
