---
import Button from "../Button.astro";

interface Props {
  location: "header" | "footer";
}

const { location }: Props = Astro.props;
---

<div class:list={["menu", location]} aria-label="Main menu">
  <ul role="menubar">
    <li class="parent" role="menuitem">
      <a href="/">Home</a>
    </li>
    <li class="parent" role="menuitem">
      <button>Schedule</button>
      <ul class="submenu" role="menu">
        <li class="child" role="menuitem">
          <a
            href="/overview"
            >Overview of the week</a
            >
        </li>
        <li>
          <a href="/events/pre-registration" role="menuitem"><span>mon</span>Pre-registration</a>
        </li>
        <li>
          <a href="/schedule/tuesday" role="menuitem"><span>tue</span>Conference day 1</a>
        </li>
        <li>
          <a href="/schedule/wednesday" role="menuitem"><span>wed</span>Conference day 2</a>
        </li>
        <li>
          <a href="/events/workshops" role="menuitem"><span>thu</span>Workshops</a>
        </li>
        <li>
            <a href="/events/hackathon" role="menuitem"><span>fri</span>Hackathon</a>
        </li>
        <li class="child" role="menuitem">
          <a
            href="/events/social-activities"
            >All-week social activities</a
          >
        </li>
        <li class="child" role="menuitem">
          <a
            href="/overview#list"
            >List of all events</a
          >
        </li>
      </ul>
    </li>
    <li class="parent" role="menuitem">
      <button>Speakers</button>
      <ul class="submenu" role="menu">
        <li class="child" role="menuitem">
          <a href="/speakers">All Speakers</a>
        </li>
        <li class="child" role="menuitem">
          <a href="/gosim-spotlight-speakers">GOSIM Spotlight Finalists</a>
        </li>
      </ul>
    </li>
    <li class="parent" role="menuitem">
      <a
        href="/#sponsors"
        onclick="document.querySelector('[data-menu-toggle]').click()"
        >Sponsors</a
      >
    </li>
    <li class="parent" role="menuitem">
      <button>Location</button>
      <ul class="submenu" role="menu">
        <li class="child" role="menuitem">
          <a href="/getting-there">Getting there</a>
        </li>
        <li class="child" role="menuitem">
          <a
            href="/#where"
            onclick="document.querySelector('[data-menu-toggle]').click()"
            >About Utrecht</a
          >
        </li>
        <li class="child" role="menuitem">
          <a href="/kinepolis">Conference venue</a>
        </li>
        <li class="child" role="menuitem">
          <a href="/dus">Workshop venue</a>
        </li>
        <li class="child" role="menuitem">
          <a href="/dus">10-year celebration venue</a>
        </li>
        <li class="child" role="menuitem">
          <a href="/dus">Unconf & All-Hands venue</a>
        </li>
        <li class="child" role="menuitem">
          <a href="/hotels">Hotels</a>
        </li>
        <li class="child" role="menuitem">
          <a href="/accessibility">Accessibility</a>
        </li>
      </ul>
    </li>
    <li class="parent">
      <button>About</button>
      <ul class="submenu">
        <li class="child">
          <a href="/about">About</a>
        </li>
        <li class="child">
          <a href="mailto:2025@rustnl.org">Contact</a>
        </li>
      </ul>
    </li>
    <li class="parent">
      <Button
        link="https://www.eventbrite.nl/e/rust-week-2025-tickets-1001676961757?aff=oddtdtcreator"
        ty="primary"
        inFooter={location == "footer"}>Tickets</Button
      >
    </li>
  </ul>
</div>

<style lang="scss">
  @use "../../styles/variables.scss";
  @use "../../styles/breakpoint.scss";

  .menu {
    display: contents;

    @include breakpoint.smaller_than(lg) {
        font-size: variables.$font-size-md;
    }

    &.footer {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: variables.space(2);

      a {
        color: #ffffff;
      }
    }

    &.header {
      > ul {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        row-gap: variables.space(3);
        width: 100%;

        @include breakpoint.wider_than(lg) {
          align-items: stretch;
          flex-direction: row;
        }
      }

      ul {
        padding: 0;
      }

      li {
        list-style: none;
        margin: 0;
        padding: 0;

        button {
          text-align: left;
        }
      }

      a {
        text-decoration: none;

        span {
          height: 1.75rem;
          line-height: 1;
          padding-inline: 0.3rem;
          display: flex;
          align-items: center;
          margin-right: 0.5rem;
          background-color: variables.$color-yellow-400;
          border-radius: 0.5rem;
          font-family: monospace;
          font-size: variables.$font-size-sm;
        }
      }

      span {
        cursor: pointer;
      }

      .submenu {
        padding-inline-start: 0.75rem;

        @include breakpoint.wider_than(lg) {
          background-color: variables.$color-background;
          border: 1px solid variables.$color-black;
          bottom: 0;
          color: variables.$color-black;
          opacity: var(--submenu-opacity, 0);
          padding: 0;
          pointer-events: var(--submenu-pointer-events, none);
          position: absolute;
          padding-inline-start: 0;
          translate: 0 100%;
          visibility: var(--submenu-visibility, hidden);
          width: max-content;
        }
      }

      .submenu a {
        font-weight: 400;
        display: flex;
        height: space(12);
        align-items: center;

        @include breakpoint.wider_than(lg) {
          height: variables.space(12);
          padding-inline: variables.space(4);
        }

        &:hover {
          text-decoration: underline;
        }
      }

      .parent {
        justify-content: center;
        display: flex;
        flex-direction: column;
        font-weight: 700;
        cursor: pointer;

        @include breakpoint.wider_than(lg) {
          color: variables.$color-background;
          flex: 1;
          min-height: auto;
          margin: 0;
          padding-inline: variables.space(4);
          position: relative;

          &:has(.submenu):hover,
          &:has(.submenu):focus-within {
            --submenu-opacity: 1;
            --submenu-visibility: visible;
            --submenu-pointer-events: all;
          }
        }

        &:last-child {
          margin-block-start: variables.space(3);

          @include breakpoint.wider_than(lg) {
            margin-block-start: 0;
          }
        }

        &:hover span::after {
          @include breakpoint.wider_than(lg) {
            rotate: 180deg;
          }
        }
      }

      .parent button {
        background-color: transparent;
        border: none;
        font-family: inherit;
        color: inherit;
        font-size: inherit;
        font-weight: inherit;
        padding: 0;

        @include breakpoint.wider_than(lg) {
          display: flex;
          align-items: center;
          gap: variables.space(2);
        }

        &::after {
          @include breakpoint.wider_than(lg) {
            background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0NDggNTEyIj48IS0tIUZvbnQgQXdlc29tZSBGcmVlIDYuNy4yIGJ5IEBmb250YXdlc29tZSAtIGh0dHBzOi8vZm9udGF3ZXNvbWUuY29tIExpY2Vuc2UgLSBodHRwczovL2ZvbnRhd2Vzb21lLmNvbS9saWNlbnNlL2ZyZWUgQ29weXJpZ2h0IDIwMjUgRm9udGljb25zLCBJbmMuLS0+PHBhdGggZmlsbD0id2hpdGUiIGQ9Ik0yMDEuNCAzNzQuNmMxMi41IDEyLjUgMzIuOCAxMi41IDQ1LjMgMGwxNjAtMTYwYzEyLjUtMTIuNSAxMi41LTMyLjggMC00NS4zcy0zMi44LTEyLjUtNDUuMyAwTDIyNCAzMDYuNyA4Ni42IDE2OS40Yy0xMi41LTEyLjUtMzIuOC0xMi41LTQ1LjMgMHMtMTIuNSAzMi44IDAgNDUuM2wxNjAgMTYweiIvPjwvc3ZnPg==");
            background-position: center center;
            background-repeat: no-repeat;
            content: "";
            height: variables.space(4);
            transition-duration: 150ms;
            transition-property: rotate;
            width: variables.space(4);
          }
        }
      }
    }
  }
</style>
