---
import Button from "../Button.astro";

interface Props {
    location: "header" | "footer";
}

const { location }: Props = Astro.props;
---

<div class:list={["menu", location]}>
    <ul>
        <li class="parent">
            <span>Schedule</span>
            <ul class="submenu">
                <li class="child">
                    <a
                        href="/#schedule"
                        onclick="document.querySelector('[data-menu-toggle]').click()"
                        >Overview</a
                    >
                </li>
                <li class="child"><a href="/industry">Industry track</a></li>
            </ul>
        </li>
        <li class="parent">
            <a
                href="/#cfp"
                onclick="document.querySelector('[data-menu-toggle]').click()"
                >CFP</a
            >
        </li>
        <li class="parent">
            <a href="/speakers">Speakers</a>
        </li>
        <li class="parent">
            <a
                href="/#sponsors"
                onclick="document.querySelector('[data-menu-toggle]').click()"
                >Sponsors</a
            >
        </li>
        <li class="parent">
            <span>About</span>
            <ul class="submenu">
                <li class="child">
                    <a href="/about">About</a>
                </li>
                <li class="child">
                    <a href="mailto:2025@rustnl.org">Contact</a>
                </li>
            </ul>
        </li>
        <li class="child">
            <Button
                link="https://www.eventbrite.nl/e/rust-week-2025-tickets-1001676961757?aff=oddtdtcreator"
                ty="primary"
                inFooter={location == "footer"}>Tickets</Button
            >
        </li>
    </ul>
</div>

<style lang="scss">
    @import "../../styles/variables.scss";
    @import "../../styles/breakpoint.scss";

    .menu {
        display: contents;

        &.footer {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: space(2);

            a {
                color: #ffffff;
            }
        }

        &.header {
          > ul {
            display: flex;
          }

          li {
            list-style: none;
            margin: 0;
            padding: 0;
          }

          a {
            text-decoration: none;
          }

          .submenu {
            opacity: var(--submenu-opacity, 0);
            position: absolute;
            visibility: var(--submenu-visibility, hidden);
            bottom: 0;
            translate: 0 100%;
            background-color: $color-background;
            padding: 0;
            border: 4px solid $color-blue-400;
            color: $color-black;
            width: max-content;
          }

          .submenu a {
            display: flex;
            height: 48px;
            align-items: center;
            padding-inline: 16px;
            font-weight: 400;

            &:hover {
              text-decoration: underline;
            }
          }

          .parent {
            color: $color-background;;
            display: flex;
            flex-direction: column;
            flex: 1;
            font-weight: 700;
            justify-content: center;
            margin: 0;
            padding-inline: space(4);
            position: relative;

            &:has(.submenu):hover {
              --submenu-opacity: 1;
              --submenu-visibility: visible;
            }
          }
        }
    }
</style>
