---
import Button from "../Button.astro";

interface Props {
    location: "header" | "footer";
}

const { location }: Props = Astro.props;
---

<div class:list={["menu", location]}>
    <ul>
        <li class="parent">
            <span>Schedule</span>
            <ul class="submenu">
                <li class="child">
                    <a
                        href="/#schedule"
                        onclick="document.querySelector('[data-menu-toggle]').click()"
                        >Overview</a
                    >
                </li>
                <li class="child"><a href="/industry">Industry track</a></li>
                <li class="child"><a href="/industry">Industry track</a></li>
                <li class="child"><a href="/industry">Industry track</a></li>
                <li class="child"><a href="/industry">Industry track</a></li>
                <li class="child"><a href="/industry">Industry track</a></li>
                <li class="child"><a href="/industry">Industry track</a></li>
                <li class="child"><a href="/industry">Industry track</a></li>
                <li class="child"><a href="/industry">Industry track</a></li>
                <li class="child"><a href="/industry">Industry track</a></li>
                <li class="child"><a href="/industry">Industry track</a></li>
                <li class="child"><a href="/industry">Industry track</a></li>
                <li class="child"><a href="/industry">Industry track</a></li>
                <li class="child"><a href="/industry">Industry track</a></li>
                <li class="child"><a href="/industry">Industry track</a></li>
                <li class="child"><a href="/industry">Industry track</a></li>
                <li class="child"><a href="/industry">Industry track</a></li>
                <li class="child"><a href="/industry">Industry track</a></li>
                <li class="child"><a href="/industry">Industry track</a></li>
                <li class="child"><a href="/industry">Industry track</a></li>
                <li class="child"><a href="/industry">Industry track</a></li>
                <li class="child"><a href="/industry">Industry track</a></li>
                <li class="child"><a href="/industry">Industry track</a></li>
                <li class="child"><a href="/industry">Industry track</a></li>
                <li class="child"><a href="/industry">Industry track</a></li>
                <li class="child"><a href="/industry">Industry track</a></li>
                <li class="child"><a href="/industry">Industry track</a></li>
                <li class="child"><a href="/industry">Industry track</a></li>

            </ul>
        </li>
        <li class="parent">
            <a
                href="/#cfp"
                onclick="document.querySelector('[data-menu-toggle]').click()"
                >CFP</a
            >
        </li>
        <li class="parent">
            <a href="/speakers">Speakers</a>
        </li>
        <li class="parent">
            <a
                href="/#sponsors"
                onclick="document.querySelector('[data-menu-toggle]').click()"
                >Sponsors</a
            >
        </li>
        <li class="parent">
            <span>About</span>
            <ul class="submenu">
                <li class="child">
                    <a href="/about">About</a>
                </li>
                <li class="child">
                    <a href="mailto:2025@rustnl.org">Contact</a>
                </li>
            </ul>
        </li>
        <li class="parent">
            <Button
                link="https://www.eventbrite.nl/e/rust-week-2025-tickets-1001676961757?aff=oddtdtcreator"
                ty="primary"
                inFooter={location == "footer"}>Tickets</Button
            >
        </li>
    </ul>
</div>

<style lang="scss">
    @import "../../styles/variables.scss";
    @import "../../styles/breakpoint.scss";

    .menu {
        display: contents;

        &.footer {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: space(2);

            a {
                color: #ffffff;
            }
        }

        &.header {
          > ul {
            align-items: flex-start;
            display: flex;
            flex-direction: column;
            row-gap: space(3);
            width: 100%;

            @include wider_than(lg) {
              align-items: center;
              flex-direction: row;
            }
          }

          ul {
            padding: 0;
          }

          li {
            list-style: none;
            margin: 0;
            padding: 0;
          }

          a {
            text-decoration: none;
          }

          span {
            cursor: pointer;
          }

          .submenu {
            @include wider_than(lg) {
              background-color: $color-background;
              border: 4px solid $color-blue-400;
              bottom: 0;
              color: $color-black;
              opacity: var(--submenu-opacity, 0);
              padding: 0;
              pointer-events: var(--submenu-pointer-events, none);
              position: absolute;
              translate: 0 100%;
              visibility: var(--submenu-visibility, hidden);
              width: max-content;
            }
          }

          .submenu a {            
            font-weight: 400;
            display: flex;
            height: space(12);
            align-items: center;
            
            @include wider_than(lg) {
              height: space(12);
              padding-inline: space(4);
            }

            &:hover {
              text-decoration: underline;
            }
          }

          .parent {
            justify-content: center;
            display: flex;
            flex-direction: column;
            font-weight: 700;
            min-height: space(12);
            cursor: pointer;
            
            @include wider_than(lg) {
              color: $color-background;;
              flex: 1;
              min-height: auto;
              margin: 0;
              padding-inline: space(4);
              position: relative;
  
              &:has(.submenu):hover {
                --submenu-opacity: 1;
                --submenu-visibility: visible;
                --submenu-pointer-events: all;
              }
            }

            &:last-child {
              margin-block-start: space(3);

              @include wider_than(lg) {
                margin-block-start: 0;
              }
            }
          }
        }
    }
</style>
