---
import Button from '../Button.astro';

interface Props {
  location: 'header' | 'footer';
}

const { location }: Props = Astro.props;
---

<div class:list={['menu', location]}>
  <ul>
    <li class="parent">
      <span>Schedule</span>
      <ul class="submenu">
        <li class="child">
          <a
            href="/#schedule"
            onclick="document.querySelector('[data-menu-toggle]').click()"
            >Overview of the week</a
          >
          <a href="/timetable">Timetable for talks</a>
          <a href="/workshops">Workshops</a>
        </li>
        <li class="child"><a href="/industry">Industry track</a></li>
      </ul>
    </li>
    <li class="parent">
      <span>Speakers</span>
      <ul class="submenu">
        <li class="child">
            <a href="/speakers">Our speakers</a>
        </li>
        <li class="child">
            <a
            href="/#cfp"
            onclick="document.querySelector('[data-menu-toggle]').click()">CFP</a
            >
        </li>
      </ul>
    </li>
    <li class="parent">
      <a
        href="/#sponsors"
        onclick="document.querySelector('[data-menu-toggle]').click()"
        >Sponsors</a
      >
    </li>
    <li class="parent">
        <span>Location</span>
        <ul class="submenu">
          <li class="child">
            <a 
              href="/#where"
              onclick="document.querySelector('[data-menu-toggle]').click()">Utrecht</a
            >
          </li>
          <li class="child">
            <a href="/kinepolis">Conference venue</a>
          </li>
        </ul>
    </li>
    <li class="parent">
      <span>Practical&nbsp;info</span>
      <ul class="submenu">
        <li class="child">
          <a href="/hotels">Hotels</a>
        </li>
        <li class="child">
          <a href="/accessibility">Accessibility</a>
        </li>
      </ul>
    </li>
    <li class="parent">
      <span>About</span>
      <ul class="submenu">
        <li class="child">
          <a href="/about">About</a>
        </li>
        <li class="child">
          <a href="/">Homepage</a>
        </li>
        <li class="child">
          <a href="mailto:2025@rustnl.org">Contact</a>
        </li>
      </ul>
    </li>
    <li class="parent">
      <Button
        link="https://www.eventbrite.nl/e/rust-week-2025-tickets-1001676961757?aff=oddtdtcreator"
        ty="primary"
        inFooter={location == 'footer'}>Tickets</Button
      >
    </li>
  </ul>
</div>

<style lang="scss">

    @use "../../styles/variables.scss";
    @use "../../styles/breakpoint.scss";

  .menu {
    display: contents;

    &.footer {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: variables.space(2);

      a {
        color: #ffffff;
      }
    }

    &.header {
      > ul {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        row-gap: variables.space(3);
        width: 100%;

        @include breakpoint.wider_than(lg) {
          align-items: stretch;
          flex-direction: row;
        }
      }

      ul {
        padding: 0;
      }

      li {
        list-style: none;
        margin: 0;
        padding: 0;
      }

      a {
        text-decoration: none;
      }

      span {
        cursor: pointer;
      }

      .submenu {
        padding-inline-start: 0.75rem;

        @include breakpoint.wider_than(lg) {
          background-color: variables.$color-background;
          border: 1px solid variables.$color-black;
          bottom: 0;
          color: variables.$color-black;
          opacity: var(--submenu-opacity, 0);
          padding: 0;
          pointer-events: var(--submenu-pointer-events, none);
          position: absolute;
          padding-inline-start: 0;
          translate: 0 100%;
          visibility: var(--submenu-visibility, hidden);
          width: max-content;
        }
      }

      .submenu a {
        font-weight: 400;
        display: flex;
        height: space(12);
        align-items: center;

        @include breakpoint.wider_than(lg) {
          height: variables.space(12);
          padding-inline: variables.space(4);
        }

        &:hover {
          text-decoration: underline;
        }
      }

      .parent {
        justify-content: center;
        display: flex;
        flex-direction: column;
        font-weight: 700;
        min-height: variables.space(12);
        cursor: pointer;

        @include breakpoint.wider_than(lg) {
          color: variables.$color-background;
          flex: 1;
          min-height: auto;
          margin: 0;
          padding-inline: variables.space(4);
          position: relative;

          &:has(.submenu):hover {
            --submenu-opacity: 1;
            --submenu-visibility: visible;
            --submenu-pointer-events: all;
          }
        }

        &:last-child {
          margin-block-start: variables.space(3);

          @include breakpoint.wider_than(lg) {
            margin-block-start: 0;
          }
        }

        &:hover span::after {
          @include breakpoint.wider_than(lg) {
            rotate: 180deg;
          }
        }
      }

      .parent span {
        @include breakpoint.wider_than(lg) {
          display: flex;
          align-items: center;
          gap: variables.space(2);
        }

        &::after {
          @include breakpoint.wider_than(lg) {
            background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0NDggNTEyIj48IS0tIUZvbnQgQXdlc29tZSBGcmVlIDYuNy4yIGJ5IEBmb250YXdlc29tZSAtIGh0dHBzOi8vZm9udGF3ZXNvbWUuY29tIExpY2Vuc2UgLSBodHRwczovL2ZvbnRhd2Vzb21lLmNvbS9saWNlbnNlL2ZyZWUgQ29weXJpZ2h0IDIwMjUgRm9udGljb25zLCBJbmMuLS0+PHBhdGggZmlsbD0id2hpdGUiIGQ9Ik0yMDEuNCAzNzQuNmMxMi41IDEyLjUgMzIuOCAxMi41IDQ1LjMgMGwxNjAtMTYwYzEyLjUtMTIuNSAxMi41LTMyLjggMC00NS4zcy0zMi44LTEyLjUtNDUuMyAwTDIyNCAzMDYuNyA4Ni42IDE2OS40Yy0xMi41LTEyLjUtMzIuOC0xMi41LTQ1LjMgMHMtMTIuNSAzMi44IDAgNDUuM2wxNjAgMTYweiIvPjwvc3ZnPg==');
            background-position: center center;
            background-repeat: no-repeat;
            content: '';
            height: variables.space(4);
            transition-duration: 150ms;
            transition-property: rotate;
            width: variables.space(4);
          }
        }
      }
    }
  }
</style>
