---
import SpeakerImage from "./SpeakerImage.astro";
import SpeakerWrapper from "./SpeakerWrapper.astro";

const { name, image, description } = Astro.props;
---

<SpeakerWrapper>
    <div class="space-y-6 organizer">
        <SpeakerImage src={`/images/organisers/${image}`} 
            alt={`Picture of ${name}`}
        />

        <div>
            <h4 class="py-2">{name}</h4>
            <p style="text-align: center;">{description}</p>
        </div>
</SpeakerWrapper>

<style lang="scss">
    @import "../../styles/variables.scss";

    .organizer {
        p {
            text-align: left;
        }
    }

    h4 {
        font-size: $font-size-lg;
        font-weight: $font-weight-light;
        line-height: $line-height-tight;
    }
</style>
