---

---

<div class="people">
    <slot />
</div>

<style>
  .people {
<<<<<<< HEAD
      display: grid;
      gap: 2em;
      grid-template-columns: repeat(auto-fit, minmax(18.5rem, 1fr));
      margin-block-end: 3rem;
      width: 100%;
=======
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(18.5rem, 1fr));
    margin-block-end: 3rem;
    width: 100%;
>>>>>>> c6247fe62c9a4a65d72ebaadc8879b5101326e94
  }
</style>
