---
import SpeakerWrapper from "./SpeakerWrapper.astro";
import SpeakerImage from "./SpeakerImage.astro";

const { name, image, description } = Astro.props;
---

<SpeakerWrapper>
    <div class="space-y-6">
        <SpeakerImage src={`/images/speakers/${image}`} 

            alt={`Picture of ${name}`}
        />
        <div>
            <h4>{name}</h4>
            <p class="description">{description}</p>
        </div>
    </div>
</SpeakerWrapper>

<style lang="scss">
    @import "../../styles/breakpoint.scss";
    @import "../../styles/variables.scss";

    h4 {
        font-size: $font-size-lg;
        font-weight: $font-weight-light;
        line-height: $line-height-tight;
        margin-bottom: 0;
    }

    .description {
        font-size: $font-size-md;
        font-weight: 700;
    }

    img {
        align-self: center;
        border-radius: 100%;
        height: auto;
        max-width: 192px;
        vertical-align: middle;
        width: 100%;
    }
</style>
