---
import Head from "../components/page/head.astro";
import Header from "../components/page/header.astro";
import Footer from "../components/page/footer.astro";
import Hero from "../components/page/Hero.astro";

import ButtonGroup from "../components/ButtonGroup.astro";
import Button from "../components/Button.astro";

import MainSchedule from "../components/schedule/MainSchedule.astro";

import Sponsors from "../components/sponsor/Sponsors.astro";

import Location from "../components/Location.astro";
import HeroImage from "../../public/svg/hero-logo-rustweek-by-rustnl.svg?raw";
import "../styles/index.scss";
import Divider from "../components/Divider.astro";
import PersonList from "../components/people/PeopleList.astro";
---

<!doctype html>
<html lang="en">
    <style lang="scss">
        @import "../styles/variables.scss";

        .down-arrow {
            aspect-ratio: 1;
            border: solid $color-red-400;
            border-width: 0 1rem 1rem 0;
            display: inline-block;
            rotate: 0deg;
            animation: MoveUpDown 2s ease-in-out infinite;
            rotate: 45deg;
            width: 3rem;
        }

        @keyframes MoveUpDown {
            0%,
            100% {
                translate: 0 0;
            }
            50% {
                translate: 0 0.4em;
            }
        }

        .leftheader {
            font-size: $font-size-2xl;
        }

        #schedule {
            margin-block-start: 2rem;
        }

        #speakers {
            display: flex;
            flex-direction: row;
            gap: space(6);
            flex-wrap: wrap;
            justify-content: center;
        }
    </style>

    <Head title="RustWeek 2025" />
    <body>
        <Header />
        <div class="space-y-12">
            <Hero style="home">
                <Fragment set:html={HeroImage} />

                <p>May 13–17, 2025<br /> Utrecht, The Netherlands</p>

                <ButtonGroup>
                    <Button
                        scale={1.5}
                        link="https://www.eventbrite.nl/e/rust-week-2025-tickets-1001676961757?aff=oddtdtcreator"
                        >Tickets</Button
                    >
                </ButtonGroup>

                <a class="down-arrow" href="#explainer"></a>
            </Hero>
            <section class="container md:grid md:cols-12">
                <div
                    class="explainer md:col-start-3 md:col-end-11 xl:col-start-4 xl:col-end-10"
                >
                    <slot name="explainer" />
                </div>
            </section>
            <section class="container anchor" id="schedule">
                <MainSchedule />
            </section>

            <section class="container space-y-6">
                <h2 class="header">Speakers</h2>
                <PersonList>
                    <slot name="speakers" />
                </PersonList>
            </section>
            <ButtonGroup>
                <Button link="/speakers"
                    >All speakers (more soon!)</Button
                >
            </ButtonGroup>
            
            <section class="container md:grid md:cols-12">
                <div
                    class="cfp md:col-start-3 md:col-end-11 xl:col-start-4 xl:col-end-10"
                >
                    <slot name="cfp" />
                </div>
            </section>

            <Divider />

            <section class="container md:grid md:cols-12" id="where">
                <div
                    class="where md:col-start-3 md:col-end-11 xl:col-start-4 xl:col-end-10"
                >
                    <slot name="where" />
                </div>
            </section>
            
            <Location />

            <section class="container" id="sponsors">
                <Sponsors>
                    <h2>Sponsors</h2>
                    <slot name="sponsors" />
                </Sponsors>
            </section>

            <section class="container" id="previous-sponsors">
                <Sponsors>
                    <h2>Last Year's Sponsors</h2>
                    <slot name="previous-sponsors" />
                </Sponsors>
            </section>
            <section class="container md:grid md:cols-12">
                <div
                    class="about md:col-start-3 md:col-end-11 xl:col-start-4 xl:col-end-10"
                >
                    <slot name="about" id="about" />
                </div>
            </section>
        </div>
        <Footer />
    </body>
</html>
