---
import Header from "../components/page/header.astro";
import Location from "../components/Location.astro";
import Button from "../components/Button.astro";

import CommonLayout from "./CommonLayout.astro";

import "../styles/index.scss";
---

<CommonLayout title="Industry track" header="Industry track" withLogo>
    <Fragment slot="hero">
        <p class="industry-track-anouncement">
            May 13, 2025
            <br /> Utrecht, The Netherlands
        </p>

        <Button link="#tickets">Buy Ticket</Button>
    </Fragment>

    <Fragment>
        <section class="container md:grid md:cols-12 py-12 about-industry">
            <div
                class="about-text md:col-start-3 md:col-end-11 xl:col-start-4 xl:col-end-10"
            >
                <slot name="about-industry" />
            </div>
        </section>

        <Location />

        <section
            class="container py-24 space-y-12 track-schedule"
            id="schedule"
        >
            <div class="space-y-12 md:grid md:cols-2 md:space-y-0">
                <!--div class="space-y-6 px-3 sm:px-6 md:space-y-12 xl:px-12"-->
                <div class="markdown schedule-description">
                    <h3 class="schedule-header">Industry track schedule</h3>
                    <p>The industry track features a mixed program with three inspiring talks and two rounds of Expert Tables.</p>

                    <p>Our speaker lineup includes ecosystem leaders like Niko Matsakis, co-lead of the Rust language design team, and Rust pioneers such as Julius Gustavsson from Volvo.</p>

                    <p>The expert table sessions provide an opportunity for insightful discussions with a seasoned Rust expert and your industry peers.</p>

                    <p>Seven expert table topics are offered ranging from using Rust in existing projects, to the first steps in Rust adoption, to how Rust as a language is being developed.</p>
                </div>
                <slot name="timetable-day" />
            </div>
        </section>

        <section
            class="container md:grid md:cols-12 py-12 tickets"
            id="tickets">
        
            <div
                class="tickets-text md:col-start-3 md:col-end-11 xl:col-start-4 xl:col-end-10"
            >
                <slot name="tickets" />
            </div>
        </section>
        <section class="container py-6 space-y-6">
            <div
                class="space-y-12 md:grid md:cols-2 md:space-y-0"
                style="justify-content: center;"
            >
            </div>
        </section>
        <section class="container py-24 space-y-6 speakers">
            <h3 class="speakers-header">Speakers and experts</h3>
            <div class="grid md:cols-2 xl:cols-4" id="speakers">
                <slot name="speakers" />
            </div>
            <slot name="speakers-tba" />
        </section>

        <section class="container sponsors" id="sponsors">
            <h3 class="track-partners-header">Track partners</h3>
            <slot name="sponsors" />
        </section>
    </Fragment>
</CommonLayout>

<style lang="scss">
@import "../styles/variables.scss";

.track-schedule:after, .speakers:before, .sponsors:before {
  margin-top: 30px;
  min-height: 15px;
  background-image: url(/images/stripes.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  content: "";
  display: block;
  height: var(--space-6);
  position: relative;
  margin: var(--space-12) 0;
}

.tickets-text {
    font-size: $font-size-lg;
    text-align: center;
}

.schedule-header, 
.speakers-header,
.track-partners-header {
    font-size: $font-size-2xl;
    margin-block: 0;
}

.speakers-header,
.track-partners-header {
    text-align: center;
}

.speakers-header, .track-partners-header {
    margin-top: 100px;
}

.industry-track-anouncement {
    font-size: $font-size-xl;
}
.about-text, .schedule-description {
    font-size: $font-size-lg;
}
</style>
