---
import CommonLayout from "./CommonLayout.astro"
import Button from "../components/Button.astro"

interface Props {
    day: string,
}

const {day}: Props = Astro.props;

---

<CommonLayout title="Talk schedule" header={`Talk schedule ${day == "tuesday"? "Tuesday": "Wednesday"}`}>
    <div class="timetable" id="top">
        <div class="slot">
            <div class="description" >
                <p>
                    This is the schedule for the talks on <b>{day == "tuesday"? "Tuesday 13 May" : "Wednesday 14 May"}</b>. There are two main conference days with talks.
                    Throughout the week there are all kinds of other activities as well. You can find an overview of the entire week <a href="/overview">here</a>.

                    <!-- You can also watch streams of these tracks <a href={`/live/${day}`}>here</a> -->
                </p>
            </div>

            <div class="tabbar">
                <a href="/schedule/tuesday" class:list={[day == "tuesday"?"active":"inactive"]}>Tue 13 May</a>
                <a href="/schedule/wednesday" class:list={[day == "wednesday"?"active":"inactive"]}>Wed 14 May</a>
            </div>

            <slot />
        </div>

        <div class="footer-nav">
            <span>You are currently on <b>{day == "tuesday"? "Tuesday 13 May":"Wednesday 14 May"}</b>'s talk schedule.</span>

            <div class="buttons">
                <Button link={day == "tuesday"?"/schedule/wednesday":"/schedule/tuesday"}>
                    {day == "tuesday"? "Wednesday": "Tuesday"}'s schedule
                </Button>
                <Button link="/overview">
                    Week overview
                </Button>
            </div>
        </div>
    </div>
</CommonLayout>

<style lang="scss">

@use '../styles/variables.scss';

.timetable {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    .tabbar {
        display: flex;
        flex-direction: row;
        align-items: center;

        gap: 1em;

        a {
            text-decoration: none;
            font-weight: 500;
            padding: 0em 0.5em;

            &.active {
                border-bottom: 4px solid variables.$color-red-400;
            }
            &.inactive {
                border-bottom: 4px solid transparent;
            }
        }

        margin: 1em 0em;
    }

    .slot {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: min-content;
    }

    .footer-nav {
        .buttons {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 1em;


            flex-wrap: wrap;
        }

        text-align: center;
        margin-top: 1em;
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
}

</style>
